---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap",
  "site"
;

.alltools {
	#munimoney {
		background-image: url(../img/tools/munimoney.png);
		background-size: cover;
		width: 100%;
	}
}

@media(min-width: 768px) {
	#munimoney {
		width: 375px;
		height: 750px;
	}
}

@media(min-width: 992px) {
	#munimoney {
		width: 323.33px;
		height: 646.66px;
	}
}

@media(min-width: 1200px) {
	#munimoney {
		width: 390px;
		height: 780px;
	}
}

.individual-tool {
	.header {
		margin-bottom: 30px;

		.title {
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 30px;

			img {
				height: 35px;
			}
		}

		.oneliner {
			font-family: 'Open Sans Light', sans-serif;
			font-style: italic;
			text-transform: uppercase;
		}
	}

	.tool-info {
		margin: 40px 0;
	}

	.external-url {
		margin: 40px 0;

		h3 {
			font-weight: bold;
		}
	}

	.conversation {
		h4 {
			margin-bottom: 40px;
		}

		.title {
			margin-bottom: 2px;
			font-weight: bold;
		}

		.author {
			font-style: italic;
		}

		.excerpt {
			margin-bottom: 20px;
		}
	}

	.contact {
		@media (min-width: 970px) {

			.form-group {
				width: calc(80% + 19px);
			}

			.inline-form {

				.form-group {
					width: 40%;
					display: inline-block;
				}

				.form-group:nth-child(1) {
					margin-right: 15px;
				}
			}
		}
	}

	label {
		text-transform: uppercase;
		color: #bbb;
		font-size: 11px;
	}

	.form-control {
		border-radius: 0;
	}
}