---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap"
;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:300,300i,400,400i,700,700i');

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.page-intro {
	h1 {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-weight: 600;
	}
}

.tools-page {
	.featured-tool {
		margin-top: 20px;
	  img {
	    width: 100%;
	  }
	  .tool-name {
	  	position: absolute;
	  	bottom: 35px;
	  	right: 15px;
	  	background-color: #333;
	  	color: #fff;
	  	padding: 5px 10px;
	  	pointer-events: none;
	  }
	  .bubble {
	  	pointer-events: none;
	    border-radius: 100px;
	    background-color: #ababab;
	    bottom: 45%;
	    left: -30px;
	    height: 90px;
	    width: 90px;
	    text-align: center;
	    color: #fff;
	    text-transform: uppercase;
	    line-height: 90px;
	    position: absolute;
	    font-weight: bold;
	    @media (max-width:1240px) {
	      bottom: -45px;
	      left: 55%;
	    }
	  }
	  .featured-article {
		 	ul {
		 		position: relative;
		 		border-bottom: 1px solid #ddd;
		 		margin-bottom: 20px;
		 	}

		  .type {
		    text-transform: uppercase;
		    font-style: italic;
	    	color: #ababab;
	    	li {
	    		margin-bottom: 5px;
	    	}
		  }
		  .title {
		    text-transform: uppercase;
		    font-size: 1.2em;
		    color: #000;
		    li {
		    	margin-bottom: 5px;
		    	width: 90%;
		    }
		  }
		  .author {
		    font-style: italic;
	    	color: #ababab;
	    	li {
	    		margin-bottom: 20px;
	    	}
		  }
		  .arrow {
		    position: absolute;
		    right: 0;
		    top: 0;
		    font-size: 4em;
	    	color: #000;
	    	text-decoration: none;
		  }
		  .article {
		    border-bottom: 1px solid #ccc;
		    padding-top: 20px;
		  }
		  .learnmore {
		    text-transform: uppercase;
		    margin-top: 20px;
		    font-size: 1.7em;
		  }
		}
	}	
	.all-tools {
	  margin-top: 25px;
	  .row {
	    a {
	    	margin-bottom: 30px;
	    	img {
	    		width: 100%;
	    		opacity: 0.8;
	    		&:hover {
	    			opacity: 1;
	    		}
	    	}
	    	.tool-name {
	    		position: absolute;
	    		bottom: 35px;
	    		right: 15px;
	    		background-color: #333;
	    		color: #fff;
	    		padding: 5px 10px;
	    		pointer-events: none;
	    	}
	    }
	  }

	}
	
}
.single-article {
	article {
		.post-excerpt {
		  margin-top: 10px;
		  font-size: 20px;
		}
		.author-date {
		  padding-bottom: 10px;
		  margin-bottom: 10px;
		  color: #B0B0B0;
		  border-bottom: 1px solid #eee;
		}
		figure {
		  margin-bottom: 30px;
		  font-size: 12px;
		}
		figure img {
		  max-width: 100%;
		  margin-left:auto!important;
		  margin-right:auto!important;
		}
		figcaption {
		  font-style: italic;
		  font-style: normal;
		  font-size: 10px;
		  color: #B0B0B0;
		  margin-top:15px
		}
		/*blockquote {
		  font-size: 20px;
		  font-weight: 700;
		  margin-left: 0;
		  padding: 0;
		  border:none;
		}*/
		.collapse-box {
		  background-color: #f7f7f7;
		  color: #333;
		  padding: 15px;
		  margin: 10px 0px;
		}
		.footnotes {
		  margin-top: 30px;
		  margin-bottom: 30px;
		}
		pre {
		  background-color: #f1f1f1;
		  border: none;
		  border-radius: 0px;
		  font-size: 14px;
		}
	}

	.social-sharing {
	  ul {
			&.share-buttons{
			  list-style: none;
			  padding: 0;
			  margin-bottom:30px;
				li {
				  display: inline;
				}
				.sr-only {
				  position: absolute;
				  clip: rect(1px 1px 1px 1px);
				  clip: rect(1px, 1px, 1px, 1px);
				  padding: 0;
				  border: 0;
				  height: 1px;
				  width: 1px;
				  overflow: hidden;
				}
				img {
				  width: 25px;
				  margin-right: 10px;
				}
			}
	  }
	}
}

.services-page {
  .header {
  	text-align: center;
  	font-family: 'Open Sans', 'Lato', sans-serif;
	  h1 {
	    font-size: 44px;
	    font-weight: 300;
	  }
	  .lead { 
	    font-size: 21px;
	    font-weight: 300;
	    line-height: 1.3em;
	  }
  }

  .service-boxes {
	  a {
	    margin-top: 30px;
	    padding: 100px;
	    text-align:center;
	    font-size: 24px;
	  }
	  .service-box-1 {
	    background-color: #E8F3F8;
	  }
	  .service-box-2 {
	    background-color: #DBE6EC;
	  }
	  .service-box-3 {
	    background-color: #C2CBCE;
	  }
  }
}

p {
	line-height: 1.6;
}

.individual-tool {
	.header {
		margin-bottom: 30px;

		.title {
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 30px;

			img {
				height: 35px;
			}
		}

		.oneliner {
			font-style: italic;
			text-transform: uppercase;
			line-height: 1.5;
		}
	}

	.tool-info {
		margin: 40px 0;
		.external-url {
			margin: 40px 0;
			font-weight: bold;
			}
	}

	.slideshow {
		
		.full-image {
			width: 100%;
			margin-bottom: 20px;
		}

		.thumbnail-wrap {
			padding: 0 5px;

			.thumbnail {
				width: 100%;
				opacity: 0.5;
				cursor: pointer
			}

			.selected {
				opacity: 1;
			}
		}
	}

	.conversation {
		h4 {
			margin-bottom: 40px;
		}

		.title {
			margin-bottom: 2px;
			font-weight: bold;
		}

		.author {
			font-style: italic;
		}

		.excerpt {
			margin-bottom: 20px;
		}
	}

	.contact {
		@media (min-width: 970px) {

			.form-group {
				width: calc(99% + 4px);
			}

			.inline-form {

				.form-group {
					width: 49%;
					display: inline-block;
				}

				.form-group:nth-child(1) {
					margin-right: 1%;
				}
			}
		}
	}

	label {
		text-transform: uppercase;
		color: #bbb;
		font-size: 11px;
	}

	.form-control {
		border-radius: 0;
	}
}

.about-page {
	.team {
		.photos {
			img {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}
