---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap"
;

@import url('https://fonts.googleapis.com/css?family=News+Cycle|Libre+Franklin:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i');

// Fonts for testing typography
$green: #9ed421;
$green-darker: #8ab91d;
$trace: #0f77bc;
$trace-darker: #04609e;
$trace-lighter: #8cc9f2;
$shortcourse: #911ccc;
$shortcourse-darker: #511c87;


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  position: relative;
  min-height: 100%;
  a {
    color: $green-darker;
    &:hover {
      color: $green;
    }
  }
  .btn {
    background-color: $green;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-weight: 700;
    transition: background-color 150ms ease-out;
    &:hover {
      background-color: $green-darker;
      color: #fff;
    }
  }
  .btn-default {
      background: transparent;
      border: 1px solid black;
      color: #333;
      font-weight: 500;
  }
}

.page-intro {
  h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-bottom: 25px;
    font-weight: 600;
  }
}

.article-list {
  img {
    width: 100%;
    padding-top: 5px;
  }
}

.tags {
  text-transform: uppercase;
  a {
    padding:5px 10px;
    border-radius: 0;
  }
  .tool {
    background-color: #999;
    transition: background-color 150ms ease-out;
    &:hover {
      background-color: #777;
      color: #fff;
    }
  }
  .type {
    background-color: #3c763d;
    transition: background-color 150ms ease-out;
    &:hover {
      background-color: #2a592a;
      color: #fff;
    }
  }
  .theme {
    background-color: $green;
    transition: background-color 150ms ease-out;
    &:hover {
      background-color: $green-darker;
      color: #fff;
    }
  }
}

.site-header {
  .global-nav {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: none;
    display: inline-block;
    width: 100%;
    .navbar-nav li a {
      color: #777;
      font-family: 'Open Sans', sans-serif;
    }
    .navbar-brand {
      font-family: 'Open Sans', sans-serif;
      color: #777;
      max-height:50px;
      padding: 0 15px;
      img {
        max-height:50px;
        margin-top: 2px;
      }
    }
    .nav {
      a {
        color: #fff;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
  .theme-nav {
    background-color: #f8f8f8;
    -webkit-box-shadow: inset 0px 5px 17px -1px rgba(230,230,230,0.63);
    -moz-box-shadow: inset 0px 5px 17px -1px rgba(230,230,230,0.63);
    box-shadow: inset 0px 5px 17px -1px rgba(230,230,230,0.63);

    .nav {
      a {
        border-radius: 0;
        text-transform: uppercase;
        background-color: $green;
        padding: 5px 10px;
        margin: 12px 5px;
        color: #fff;
        transition: background-color 150ms ease-out;
        &:hover {
          background-color: $green-darker;
          color: #fff;
        }
      }
    }
    .navbar-brand {
      font-family: 'Libre Franklin', sans-serif;
    }
  }

  .search-form {
    input[name=q]:focus {
      min-width: 300px;
    }
  }
}

.homepage {
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .banner-notice {
    margin-top: -20px;
    background-color: $green-darker;
    .announcement {
      padding: 10px 0;
      color: #fff;
      a {
        color: white;
      }
    }
  }
  .banner {
    background-color: $green;
    padding: 20px;
    padding-bottom: 180px;
    h1 {
      color: #fff;
      font-size: 42px;
    }
    h3 {
      font-family: 'News Cycle', sans-serif;
      font-size: 26px;
      color: #e8ffda;
    }
  }
  .tools {
    padding-bottom: 30px;
    p {
      font-family: 'News Cycle', 'Open Sans', sans-serif;
      font-size: 21px;
      padding: 5px 10px 5px 0px;
    }
    img {
      width: 100%;
      border: 4px solid #fff;
    }
    margin-top: -130px;
  }
  .moretools {
    margin: 30px 0;
    text-align:right;
    a {
      color: $green;
      &:hover {
        color: $green-darker;
      }
    }
    p {
      font-size: 24px;
      font-weight: 600;
      font-family: 'open sans', sans-serif;
    }
  }
  .articles {
    background-color:#f8f8f8;
    padding: 50px 0;
    margin-bottom:20px;
    .article-title {
      padding: 10px;
      background-color: $green;
      a, a:hover {
        color: #fff;
      }
    }
    .article-author {
      padding: 10px 0px;
    }
    .one-article {
      min-height: 500px;
      margin-bottom: 30px;
    }
  }
  .contact {
    padding-top: 50px;
      img {
        width:100%;
      }
    .contact-box {
      margin-bottom: 50px;
    }
    .contact-title {
      font-size:21px;
      font-weight: 600;
    }
  }
  .funders {
    padding: 50px 0;
    img {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 30px;
    }
  }
}

.tools-page {
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  .tool-intro {
    font-family: 'Open Sans', sans-serif;
    margin-bottom:30px;
  }
  .featured-tool {
    margin-top: 20px;
    img {
      width: 100%;
    }
    .bubble {
      pointer-events: none;
      border-radius: 100px;
      background-color: #ababab;
      bottom: 45%;
      left: -30px;
      height: 90px;
      width: 90px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      line-height: 90px;
      position: absolute;
      font-weight: bold;
      @media (max-width:1240px) {
        bottom: -45px;
        left: 55%;
      }
    }
    .featured-article {
      @media (max-width:970px) {
        margin-top: 50px;
      }
      ul {
        position: relative;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
      }
      .title {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 5px;
        width: 90%;
        a {
          color: #000;
        }
      }
      .author {
        font-style: italic;
        margin-bottom: 20px;
        a {
          color: #ababab;
        }
      }
      .arrow {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 4em;
        a {
          color: #000;
          text-decoration: none;
        }
      }
      .article {
        border-bottom: 1px solid #ccc;
        padding-top: 20px;
      }
      .learnmore {
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 1.7em;
      }
    }
  }
  .all-tools {
    margin-top: 30px;
    .row {
      .toolbox {
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
    }

  }

}
.single-article {
  article {
    .header {
      margin-bottom: 25px;
      h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }
      .short {
        font-family: 'News Cycle', sans-serif;
        margin-top: 10px;
        font-size: 20px;
      }
      .author-date {
        color: #B0B0B0;
        margin-bottom: 20px;
      }
      .featured-image {
        width: 100%;
      }
    }
    .article-content {
      img {
        width: 100%;
      }
      pre {
        background-color: #f1f1f1;
        border: none;
        border-radius: 0px;
        font-size: 14px;
      }
      h1, h2, h3, h4, h5 {
        font-family: 'Open Sans', sans-serif;
      }
      .author-name {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        padding-top: 10px;
      }
      .author-position {
        display: block;
        font-style: italic;
        font-size: 12px;
      }
    }

    figure {
      margin-bottom: 30px;
      font-size: 12px;
    }
    figure img {
      max-width: 100%;
      margin-left:auto!important;
      margin-right:auto!important;
    }
    figcaption {
      font-style: italic;
      font-style: normal;
      font-size: 10px;
      color: #B0B0B0;
      margin-top:15px
    }
    .collapse-box {
      background-color: #f7f7f7;
      color: #333;
      padding: 15px;
      margin: 10px 0px;
    }
    .footnotes {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .related-articles {
    img {
      width: 100%;
    }
    .article-title {
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(100% - 30px);
      padding: 10px;
      background-color: $green;
      a, a:hover {
        color: #fff;
      }
    }
    .one-article {
      margin-bottom: 25px;
    }
    .tags {
      position: absolute;
      top: 15px;
      left: 25px;
    }
  }

  .social-sharing {
    ul {
      &.share-buttons{
        list-style: none;
        padding: 0;
        margin-bottom:30px;
        li {
          display: inline;
        }
        .sr-only {
          position: absolute;
          clip: rect(1px 1px 1px 1px);
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
        }
        img {
          width: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}

.services-page {
  margin-top: 30px;
  margin-bottom: 30px;

  .header {
    font-family: 'Open Sans', sans-serif;
    h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 44px;
      font-weight: 600;
    }
    .lead {
      font-family: 'News Cycle', sans-serif;
      font-size: 21px;
      font-weight: 300;
      line-height: 1.3em;
    }
  }

  .services-info {
    margin: 30px 0px;
    .service-subhead {
    font-size: 21px;
    font-weight: 300;
      line-height: 1.3em;
   }
   .nakeddata-archive {

   }
  }

  .service-boxes {
    a {
      margin-top: 30px;
      padding: 100px;
      text-align:center;
      font-size: 24px;
    }
    .service-box-1 {
      background-color: #E8F3F8;
    }
    .service-box-2 {
      background-color: #DBE6EC;
    }
    .service-box-3 {
      background-color: #C2CBCE;
    }
  }
}

p {
  line-height: 1.6;
}

.individual-theme {
  .header {
    margin-bottom: 30px;
    .title {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      margin-top: 30px;
      font-weight: 600;
      img {
        height: 35px;
      }
    }
  }
  .theme-info {
    margin: 40px 0;
  }
  .theme-articles {
    .article-title {
      padding: 10px;
      background-color: $green;
      a, a:hover {
        color: #fff;
      }
    }
    .article-author {
      padding: 10px 0px;
    }
    .one-article {
      min-height: 500px;
      margin-bottom: 30px;
    }
  }
}

.individual-type {
  .header {
    margin-bottom: 30px;
    .title {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      margin-top: 30px;
      font-weight: 600;
      img {
        height: 35px;
      }
    }
  }
  .type-info {
    margin: 40px 0;
  }
  .type-articles {
    .article-title {
      padding: 10px;
      background-color: $green;
      a, a:hover {
        color: #fff;
      }
    }
    .article-author {
      padding: 10px 0px;
    }
    .one-article {
      min-height: 500px;
      margin-bottom: 30px;
    }
  }
}

.individual-tool {
  .header {
    margin-bottom: 30px;
    .title {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      margin-top: 30px;
      font-weight: 600;
      img {
        height: 35px;
      }
    }

    .oneliner {
      font-style: italic;
      text-transform: uppercase;
      line-height: 1.5;
    }
  }
  .tool-info {
    margin: 40px 0;
    .external-url {
      margin: 40px 0;
      font-weight: bold;
      }
  }

  .slideshow {
    .full-image {
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #ddd;
    }
    .thumbnail-wrap {
      padding: 0 5px;
      .thumbnail {
        width: 100%;
        opacity: 0.5;
        cursor: pointer
      }
      .selected {
        opacity: 1;
      }
    }
  }

  .conversation {
    h4 {
      margin-bottom: 40px;
    }
    .article-title {
      padding: 10px;
      background-color: $green;
      a, a:hover {
        color: #fff;
      }
    }
    .article-author {
      padding: 10px 0px;
    }
    .one-article {
      min-height: 500px;
      margin-bottom: 30px;
    }
  }

  .creators {
    img {
      width: 100%;
    }
    .creator {
      margin-bottom: 30px;
    }
  }

  .collaborators {
    img {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd
    }
    .collaborator {
      margin-bottom: 30px;
    }
  }

  .contact {
    @media (min-width: 970px) {

      .form-group {
        width: calc(99% + 4px);
      }

      .inline-form {

        .form-group {
          width: 49%;
          display: inline-block;
        }

        .form-group:nth-child(1) {
          margin-right: 1%;
        }
      }
    }
  }

  label {
    text-transform: uppercase;
    color: #bbb;
    font-size: 11px;
  }

  .form-control {
    border-radius: 0;
  }
}

.contact-page {
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
  .map {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .codebridge-photo {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.about-page {
  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }
  h1, h2 {
    font-weight: 600;
  }
  section {
    margin-bottom: 50px;
  }
  .lead {
    font-family: 'News Cycle', sans-serif;
    font-size: 21px;
    margin-bottom: 30px;
  }
  .theory-of-change {
    background-color: $green;
    color: #fff;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 30px;
      h2 {
        font-family: 'News Cycle', sans-serif;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 1.3em;
      }
      .fa-quote-left {
        padding-right: 15px;
      }
      .theory-credit {
        text-transform:uppercase;
        font-size: 21px;
      }
  }
  .mission {
    h2 {
      margin-bottom: 30px;
    }
  }
  .team {
    .image {
      margin-bottom: 15px;
      padding-right: 5px;
      img {
        width: 100%;
      }
    }
    .name-title {
      padding-left: 5px;
    }
  }
  .belief {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col-belief-right {
    border-right: 1px solid #ededed;
  }
  .col-belief-bottom {
    border-bottom: 1px solid #ededed;
  }

  @media (min-width: 0px) and (max-width: 992px) {
    .col-belief-right, .col-belief-bottom {
      border: none;
    }
  }
  .funders, .thanks-to {
    img {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 30px;
    }
  }
}

footer {
  position:relative;
  width: 100%;
  background-color: $green;
  margin-top: 30px;

  a {
    color: #999;
  }

  .footer-top {
    padding: 20px 0px;
    background-color: #f8f8f8;
    color: #999;
    font-size: 12px;

    -webkit-box-shadow: inset 0px 5px 17px -1px rgba(230,230,230,0.63);
    -moz-box-shadow: inset 0px 5px 17px -1px rgba(230,230,230,0.63);
    box-shadow: inset 0px 5px 17px -1px rgba(230,230,230,0.63);


    .footer-item {
      border-left: 1px solid #f3f3f3;
        padding-right: 20px;
        height: 96px;
        .smicon {
          padding-right: 15px;
        }
        .footer-title {
          font-size: 21px;
        }
        a:hover {
          text-decoration: none;
        }
    }

    ul {
      padding-left: 0px;
      margin-left: 0px;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .footer-copyright {
    padding: 20px 0px;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }

}

.team-member {

  .split {
    margin-bottom:50px;
    img {
      width: 100%;
    }
  }

  .tools {
    margin-top: 25px;
    &.row {
      .toolbox {
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
    }
  }
  .article-list {
    .article-title {
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(100% - 30px);
      bottom: 0;
      padding: 10px;
      background-color: $green;
      a, a:hover {
        color: #fff;
      }
    }
    .article-author {
      padding: 10px 0px;
    }
    .one-article {
      margin-bottom: 30px;
    }
    .tag-wrapper {
      position: absolute;
      top: 15px;
      left: 25px;
      width: calc(100% - 50px);
    }
  }
}

.shortcourse-page {
 .btn {
    border: 1px solid #fff;
    background-color: $shortcourse;
    color: #fff;
    &:hover {
      background-color: $shortcourse-darker;
      color: #fff;
    }
  }
  a {
    color: $trace;
    &:hover {
      color: $trace-darker;
    }
  }
  h2 {
    font-weight: 600;
    color: $shortcourse;
  }
  .hero {
    background-color: $shortcourse;
    padding: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
    color: #fff;
    h1.header {
      color: #fff;
      font-size: 42px;
      font-weight: 600;
    }
    h2.header {
      color: #fff;
      font-weight: 500;
      margin-top:10px;
      margin-bottom: 20px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 21px;
      color: #fff;
      text-align: center;
      font-weight: 300;
    }
  }
  .shortcourse-intro {
    background-color: #f9f5fd;
    padding-top: 30px;
    padding-bottom:30px;
  }
  .courses {
    margin-top: 20px;
    h2 {
      margin-bottom: 30px;
    }
    .course-box {
      padding: 15px;
      margin-bottom: 30px;
      background-color: #efefef;
    }
  }
}

.trace-page {
  .btn {
    border: 1px solid #fff;
    background-color: $trace;
    color: #fff;
    &:hover {
      background-color: $trace-darker;
      color: #fff;
    }
  }
  a {
    color: $trace;
    &:hover {
      color: $trace-darker;
    }
  }
  h2 {
    font-weight: 600;
    color: #0f77bc;
  }
  .hero {
    background-color: $trace;
    padding: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
    color: #fff;
    h1.header {
      color: #fff;
      font-size: 42px;
      font-weight: 600;
    }
    h2.header {
      color: #fff;
      font-weight: 500;
      margin-top:10px;
      margin-bottom: 20px;
    }
    h3.header {
      font-family: 'News Cycle', sans-serif;
      font-size: 26px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 21px;
      color: #c6e8ff;
      text-align: center;
      font-weight: 300;
    }
    .hero-callout {
      margin-top: 20px;
      padding-bottom: 15px;
      background-color: #fff;
    }
  }
  #corporate-data-search {
    h3.header {
      font-family: 'Libre Franklin', sans-serif;
    }
    margin: 42px 0 20px 0;
    form {
      padding: 0px;
      .form-control {
        border-radius: 0;
      }
    }

  }
  #search-results {
    display: none;
    padding-top: 40px;
    mark {
      background-color: $trace-lighter;
      padding: 0em;
    }

    .panel-default {
      border-color: #ddd;
    }

    .panel-title {
        display: inline;
    }

    .updated-date {
        float: right;
        color: #777;
    }

    .panel .hint, .panel .error {
        background-color: #edf8d3;
        font-size: 13px;
        padding: 3px;
    }

    .panel.searching {
      .panel-body {
        padding: 30px;
        background-image: url(/img/Ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }

    ul.hits {
      padding-left: 20px;
      font-size: 14px;

      & > li {
        line-height: 1.4;
        margin-bottom: 5px;
      }
    }

    #cipc {
      .hits > li {
        list-style: none;
        .name {
          font-weight: bold;
          margin-left: -20px;
        }
        .addr {
          color: #888;
        }
      }
    }
  }
  .callouts {
    padding-bottom: 30px;
    margin-top: -70px;
    .callout {
      background-color: #fff;
      border: 3px solid #666;
    }
    p {
      font-family: 'News Cycle', 'Open Sans', sans-serif;
      font-size: 21px;
      padding: 5px 10px 5px 0px;
    }
    img {
      width: 100%;
      border: 4px solid #fff;
    }
  }
  .mission-requests {
    background-color: #f5fafd;
    padding-top: 30px;
    padding-bottom:30px;
  }
  .collection {
    margin-top: 50px;
    .row {
      margin-top: 15px;
      .item {
        border: 1px solid #ddd;
        padding: 5px 10px;
        margin-bottom: 30px;
        min-height: 200px;
      }
    }
  }
  .corporate-data-resources {
    margin-top: 50px;
    .row {
      margin-top: 15px;
    }
    .example-box {
      border: 1px solid #ddd;
      padding: 5px 15px 15px 15px;
      margin-bottom: 30px;
    }
  }
  .corporate-articles {
    padding: 30px 0px;
    background-color: #f5fafd;
    .article-list {
      .article {
        margin-bottom: 40px;
        margin-top: -5px;
      }
    }
  }
  .external-articles {
    img {
      border: 1px solid #ddd;
      padding: 10px;
    }
    p {
      margin-bottom: 0;
    }
    small {
      color: #999;
    }
  }
  .featured-article {
    padding-top: 20px;
  }
}

#search-results {
  padding-top: 20px;
  min-height: 80px;

  ul {
    padding-left: 0px;
  }

  li {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 10px;
    clear: both;

    img {
      float: left;
      height: 85px; /* makes the width 142px for articles */
      width: auto;
      margin-bottom: 10px;
    }

    &.hit-tool img {
      margin-left: 57px;
    }

    .info {
      margin-left: 160px;
    }

    h4 {
      margin-bottom: 0px;
    }
  }
}
