---
---

#corporate-data-search {
  form {
    padding: 0px;
  }

  .search-results {
    mark {
      background-color: yellow;
      padding: 0em;
    }

    .panel-default {
      border-color: #ddd;
    }

    .panel.searching {
      .panel-body {
	background-image: url(/img/Ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: 50%;
      }
    }

    ul.hits > li {
      line-height: 1.4;
      margin-bottom: 5px;
    }
  }
}
