---
---

#corporate-data-search {
  form {
    padding: 0px;
  }

  .search-results {
    display: none;
    padding-top: 20px;

    mark {
      background-color: yellow;
      padding: 0em;
    }

    .panel-default {
      border-color: #ddd;
    }

    .panel.searching {
      .panel-body {
	padding: 30px;
	background-image: url(/img/Ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: 50%;
      }
    }

    ul.hits {
      padding-left: 20px;
      font-size: 14px;

      & > li {
        line-height: 1.4;
	margin-bottom: 5px;
      }
    }

    #cipc {
      .hits > li {
	list-style: none;

	.name {
	  font-weight: bold;
	  margin-left: -20px;
	}
      }
    }
  }
}
