---
layout: base
---

<div class="about-page">

	<section class="theory-of-change">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2><i class="fa fa-quote-left" aria-hidden="true"></i> If people are given information about their situation, how change can be achieved and the means to do so, they will often take action to improve their lives.</h2>
					<p class="theory-credit">Our Theory of Change</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<section class="mission">
					<h2>We're on a mission to open up information that will empower people to improve their lives and their communities.</h2>
					
					<p>We believe that an equal society starts with equal access to information, and that access to relevant information creates an active citizenry. You cannot change something if you don't know what it is, how it works, or that it even exists. This is why we are opening data. And then building tools to make the data available and understandable to society.</p>

					<p>As a team, we are a group of post-corporate, tech and media professionals who cut our teeth in the commercial sector and now want to use our skills for social good.</p>

					<p>For most of us, it's the first time working in an NGO space, and while we're still figuring our way around, we are pioneering our own way and challenging ourselves and the world to do things that no one else has done.</p>
				</section>

				<section class="beliefs">
					<h2>Our beliefs</h2>

					<div class="row">
						<div class="col-md-6 belief col-belief-right col-belief-bottom">
							<h3>Open data</h3>
							<p>Data, especially government data, should be freely available and open. It should be free to be  used, modified, and shared by anyone for any purpose. We promote the release of data under <a href="http://opendatacommons.org/licenses/odbl/">open data licences</a> to make it available to everyone who wants and needs it.</p>
						</div>
						<div class="col-md-6 belief col-belief-bottom">
							<h3>Co-governance</h3>
							<p>Societies are successful when communities and governments work together. We promote collaboration between government and the public to increase participation. We do this by advocating for the effective use of technology and data both by governments and civil society.</p>
						</div>
						<div class="col-md-6 belief col-belief-right">
							<h3>Active citizenry</h3>
							<p>Only an informed society can proactively use the mechanisms of governance to affect change. Being a citizen means having both rights and responsibilities. Access to information is crucial to understanding what this means, making informed decisions, and taking effective action.</p>
						</div>
						<div class="col-md-6 belief">
							<h3>Community</h3>
							<p>Without a community of data consumers, or the support of data producers, open data won't become part of the national discourse. We work closely with government, civil society, and media to open data, disseminate it, and build a more data-literate society.</p>
						</div>
					</div>
				</section>

				<section class="principles">
					<h2>Our founding principles</h2>					 
					<blockquote>
						<p>Everyone has the right of access to any information held by the state; and any information that is held by another person and that is required for the exercise or protection of any rights.</p>
						<small><a href="http://myconstitution.co.za/en/02.html#access-to-information">South African Constitution (Section 32)</a></small>
					</blockquote>
					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>We are founded upon the desire to serve the common good through the advancement of transparency</li>
								<li>We are an open and non-partisan community founded on the belief of equality</li>
								<li>We seek to open data, both government and non-government in order to improve access to information and promote informed decision-making</li>
								<li>We subscribe to the principles of openness as the presumption across all sectors, including open source and open contracting</li>
								<li>We are committed to working with Government and the private sector to promote transparency and accountability in South Africa</li>
								<li>We are committed to supporting and capacitating civil society in the utilisation of both open data and technology in the pursuit of the advancement of transparency and governance</li>
								<li>We are committed to breaking down the silos between organisations and focus on building the open data community as much as is feasible, in preference to building our internal capacity at the community’s cost</li>
								<li>We observe that making data freely and widely available to the public, including through easily accessible and available formats online, contributes to an informed and active citizenry as envisioned by the Constitution, and supports an inclusive, transparent, and open democracy. Open data can also support improved service delivery; generate meaningful efficiencies in government and non- government operations; and yield tangible economic and social benefits to the population at large</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol start="9">
								<li>We believe that the opening of data is not enough to realise the rights of citizen. Data and information must be made meaningful to citizens if it is to affect social change</li>
								<li>We believe technology and innovation are fundamental to realising access to information in South Africa, and for the furtherance of transparency and accountability</li>
								<li>We believe that the development of technology and innovation can only help realise constitutional rights if developed with the interests and needs of the citizen, as the user, as the central concern</li>
								<li>We believe in developing partnerships and networks to maximise the efficiency of our functioning, but also build a South African open data movement capable of pursuing the aims outlined within these founding principles</li>
								<li>We will advocate for the opening of data, as well as the utilisation of citizen- centred technologies for the furtherance of transparency and good governance in the public and private sector</li>
								<li>We will generate knowledge and thought leadership in relation to open data and the utilisation of citizen-centred technologies for the furtherance of transparency and good governance</li>
							</ol>
						</div>
					</div>
				</section>

				<section class="team">
					<h2>Meet the OpenUp team</h2>
					<p class="lead">
						We're a group of passionate people trying to make our vision for an informed and empowered society a reality
					</p>

					<div class="row current">
						{% for member in site.team %}
							{% unless member.alumni %}
								<div class="col-sm-6 col-md-4">
									<div class="row">
										<div class="col-xs-6 image">
											<a href="{% if member.external %}{{ member.external-url }}{% else %}{{ member.url }}{% endif %}"><img src="/img/team/{{ member.name }}.jpg"></a>
										</div>
										<div class="col-xs-6 name-title">
											<a href="{% if member.external %}{{ member.external-url }}{% else %}{{ member.url }}{% endif %}"><div class="member-name">{{ member.full-name }}</div></a>
											<div class="member-position">{{ member.position }}</div>
										</div>
									</div>
								</div>
							{% endunless %}
						{% endfor %}
					</div>

					<p class="lead">
						Would you like to join our team? See if <a href="/careers.html">we have an open position for you</a>.
					</p>
				</section>

				<section class="board">
					<h2>Board of directors</h2>
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="row">
								<div class="col-xs-6 image">
									<a href="/team/adi.html"><img src="/img/team/adi.jpg"></a>
								</div>
								<div class="col-xs-6 name-title">
									<a href="/team/adi.html"><div class="member-name">Adi Eyal</div></a>
									<div class="member-position"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="row">
								<div class="col-xs-6 image">
									<a href="https://www.linkedin.com/in/thomaswoolf"><img src="/img/team/andrew.jpg"></a>
								</div>
								<div class="col-xs-6 name-title">
									<a href="https://www.linkedin.com/in/thomaswoolf"><div class="member-name">Andrew Thomas-Woolf</div></a>
									<div class="member-position"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="row">
								<div class="col-xs-6 image">
									<a href="https://www.linkedin.com/in/jasonn2"><img src="/img/team/jason.jpg"></a>
								</div>
								<div class="col-xs-6 name-title">
									<a href="https://www.linkedin.com/in/jasonn2"><div class="member-name">Jason Norwood-Young</div></a>
									<div class="member-position"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="row">
								<div class="col-xs-6 image">
									<a href="https://www.linkedin.com/in/gabriella-razzano-1b714819"><img src="/img/team/gabriella.jpg"></a>
								</div>
								<div class="col-xs-6 name-title">
									<a href="https://www.linkedin.com/in/gabriella-razzano-1b714819"><div class="member-name">Gabriella Razzano</div></a>
									<div class="member-position"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="funders">
					<h2>Our funders</h2>
					<div class="row">
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="http://www.omidyar.com/"><img src="{{ site.baseurl }}/img/collaborators/omidyar.png"></a>  
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://indigotrust.org.uk/"><img src="{{ site.baseurl }}/img/collaborators/indigo.png"></a>  
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="http://www.makingallvoicescount.org/"><img src="{{ site.baseurl }}/img/collaborators/mavc.svg"></a>  
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://codeforafrica.org/"><img src="{{ site.baseurl }}/img/collaborators/c4a.png"></a>
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="http://www.innovationedge.org.za/"><img src="{{ site.baseurl }}/img/collaborators/innovationedge.png"></a>
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="http://www.osf.org.za/"><img src="{{ site.baseurl }}/img/collaborators/osf.png"></a>
			      <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="http://www.trustafrica.org/"><img src="{{ site.baseurl }}/img/collaborators/trustafrica.png"></a>
			    </div>
				</section>

				<section class="thanks-to">
				<h2>With thanks to</h2>
				<div class="row">
			    <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://aws.amazon.com/"><img src="{{ site.baseurl }}/img/collaborators/aws.png"></a>
			    <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://github.com/"><img src="{{ site.baseurl }}/img/collaborators/github.svg"></a>
			    <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://www.pivotaltracker.com"><img src="{{ site.baseurl }}/img/collaborators/pivotal.svg"></a>
			    <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://slack.com/"><img src="{{ site.baseurl }}/img/collaborators/slack.svg"></a>
			    <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://socrata.com/"><img src="{{ site.baseurl }}/img/collaborators/socrata.png"></a>
			    <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" href="https://www.xero.com"><img src="{{ site.baseurl }}/img/collaborators/xero.svg"></a>
			  </div>
				</section>

			</div>
		</div>

	</div>
</div>

