---
layout: base
title: Short Courses
short: OpenUp offers short courses in data-driven storytelling for anyone who uses data or would like to use data to find new insights, spot patterns, trends or anomalies, or communicate effectively using data to their intended audience.
---

<div class="shortcourse-page">

	<section class="hero">
		<div class="container">
			<h1 class="text-center header">Short Courses</h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p>OpenUp offers short courses in data-driven storytelling for anyone who uses data or would like to use data to find new insights, spot patterns, trends or anomalies, or communicate effectively using data to their intended audience.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="shortcourse-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>What we offer</h2>
					<p>OpenUp offers short courses in data-driven storytelling for newsrooms, full-time and freelance journalists, activists, and people working in non-profit and non-governmental organisations.</p>
					<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<h2>Request a course</h2>
					<p>Are our existing courses not exactly what you're looking for? Get in touch so we can work together to create a tailored made course for you or your organisation.</p>
					<a class="btn btn-primary" href="mailto:training@openup.org.za">Request a course</a>
				</div>
			</div>
		</div>
	</section>

	<section class="courses">
		<div class="container">
			<h2>Our courses</h2>
			<div class="row">
				{% assign courses = site.courses | sort: 'order' %}
				{% for course in courses %}
					<div class="col-sm-6 col-md-4">
						<div class="course-box">
							<h3><a href="#{{ course.title | downcase | replace:' ','' }}">{{ course.title }}</a></h3>
							<p>{{ course.intro }}</p>
							<a class="btn btn-primary" href="#{{ course.title | downcase | replace:' ','' }}">more info</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		{% for course in courses %}
		<div class="single-course">
			<div class="container">
				<h3 id="{{ course.title | downcase | replace:' ','' }}"><a href="https://docs.google.com/a/openup.org.za/forms/d/e/1FAIpQLSfpiiQs4Dc7jtipNnFAQEzjmHr3m6NIAF1QUqvTM7yv1ygUeQ/viewform">{{ course.title }}</a> <a class="btn btn-sm btn-primary" href="https://docs.google.com/a/openup.org.za/forms/d/e/1FAIpQLSfpiiQs4Dc7jtipNnFAQEzjmHr3m6NIAF1QUqvTM7yv1ygUeQ/viewform">Interested?</a></h3>
				<div class="row">
					<div class="col-md-6">
						{{ course.content }}
						<div class="details">
							<div class="row">
								<div class="col-sm-3">
									<small><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Length</small>
								</div>
								<div class="col-sm-9">
									{{ course.length }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<small><i class="fa fa-fw fa-users" aria-hidden="true"></i> Audience</small>
								</div>
								<div class="col-sm-9">
									{{ course.audience }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<small><i class="fa fa-graduation-cap" aria-hidden="true"></i> Level</small>
								</div>
								<div class="col-sm-9">
									{{ course.level }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<small><i class="fa fa-fw fa-laptop" aria-hidden="true"></i> Comments</small>
								</div>
								<div class="col-sm-9">
									{{ course.comments }}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						{% for this in course.outcomes %}
							<ul>
								<li>{{ this.outcome }}</li>
							</ul>
						{% endfor %}
						<br>
						<span class="pull-right"><b><a href="https://docs.google.com/a/openup.org.za/forms/d/e/1FAIpQLSfpiiQs4Dc7jtipNnFAQEzjmHr3m6NIAF1QUqvTM7yv1ygUeQ/viewform">Interested?</a></b> <a class="btn btn-sm btn-primary" href="https://docs.google.com/a/openup.org.za/forms/d/e/1FAIpQLSfpiiQs4Dc7jtipNnFAQEzjmHr3m6NIAF1QUqvTM7yv1ygUeQ/viewform">Get in touch</a></span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="container">
			<h2>Request a course</h2>
			<p>Interested in learning other data related skills?<br>
			Get in touch so we can work together to create a tailored made course for you or your organisation.</p>
			<a class="btn btn-primary" href="mailto:training@openup.org.za">Request a course</a>
		</div>
	</section>

</div>