---
layout: base
---
<div class="homepage">

  <div class="banner-notice">
    <div class="container">
      <div class="row announcement">
        <div class="col-sm-10 col-xs-12">
          <a href="{{ site.baseurl }}/careers.html">Interested in working at OpenUp? See what positions are available. <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 tagline">
          <h1>We empower citizens to improve their lives and communities.</h1>
          <h3>We build tools, open up data, and provide training that support active citizenry and help communities and government work together.</h3>
        </div>
        <div class="col-md-4 signup">
          <h3>Subscribe to our newsletter</h3>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup_footer">
            <form action="//code4sa.us8.list-manage.com/subscribe/post?u=11977a67604b965526b63ee6e&amp;id=0852ce7e74" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

                <div class="mc-field-group">
                  <input type="email" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response alert alert-danger" id="mce-error-response" style="display:none; padding: 20px"></div>
                  <div class="response alert alert-success" id="mce-success-response" style="display:none; padding: 20px"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_11977a67604b965526b63ee6e_0852ce7e74" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->

        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="value-adds row">
    
      <div class="col-md-4">
        <a href="/tools" class="block">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          <p>We build <b>open source tools</b> with our partners that inform, empower and activate citizens to improve their lives</p>
          <div class="btn btn-block">Explore our tools</div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#trainup" class="block">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <p>Our <b>data training courses</b> teach people the power of working with data and how to tell impactful, data-driven stories</p>
          <div class="btn btn-block">Learn about our data training</div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#partners" class="block">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <p>We <b>advise government and civil society</b> on effectively using open data and technology for real impact</p>
          <div class="btn btn-block">Read about our partnerships</div>
        </a>
      </div>

    </div>
  </div>


  <div class="articles article-list">
    <div class="container">
      <h1>Latest news</h1>
      <div class="row">
      {% assign orderedArticles = site.articles | sort: 'date' | reverse %}

      {% for article in orderedArticles limit:3 %}
          
        <div class="col-md-4 col-sm-6 col-xs-12 one-article">
          
          <div class="title-image-wrap">
            <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/articles/{{ article.image}}"></a>

            <div class="article-title">
              <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
            </div>
          </div>

          <div class="article-author">
            {% if article.author-external %}
              <div>by <a href="{{ article.author-external-url }}">{{ article.author-external }}</a></div>
            {% else %}
              {% for member in site.team %}
                {% if member.name == article.author %}
                  <div>by <a href="{{ member.url | prepend: site.baseurl }}">{{ member.full-name }}</a></div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

          <p>{{ article.short }}</p>

          {% if article.tools %}
            {% for tool in site.tools %}
              {% for articletool in article.tools %}
                {% if tool.name == articletool.name %}
                  <span class="tags"><a class="badge tool" href="{% if tool.skip-own-page %}{{ tool.external-url }}{% else %}{{ tool.url | prepend: site.baseurl }}{% endif %}">{{ tool.title }}</a></span>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
          {% if article.themes %}
            {% for theme in site.themes %}
              {% for articletheme in article.themes %}
                {% if theme.name == articletheme.name %}
                  <span class="tags"><a class="badge theme {{ theme.name }}" href="{{ theme.url | prepend: site.baseurl }}">{{ theme.title }}</a></span>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
          {% if article.types %}
            {% for type in site.types %}
              {% for articletype in article.types %}
                {% if type.name == articletype.name %}
                  <span class="tags"><a class="badge type" href="{{ type.url | prepend: site.baseurl }}">{{ type.title }}</a></span>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

        </div>
          
      {% endfor %}
      </div>

    </div>
  </div>

  <div id="partners" class="container">
    <div class="partners">
      <h1>We value collaboration</h1>
      <div class="row what">
        <div class="col-md-4">
          <div class="block">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <p><b>We help civil society and government use data and simple technology, effectively.</b> Societies are successful when communities and governments work together. With our partners, we’re creating an ecosystem that supports informed, empowered and active citizens.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <p><b>We provide technical advice, guidance for releasing and using open data, and build civic technology platforms</b> that bridge communities and governments and solve people’s problems. Technology is not our focus, but rather a means to achieve our goals.</p>
          </div>
        </div>
        <div class="col-md-4">
          <a href="/contact.html" class="block">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <p><b>Are you interested in working with us?</b> We are always interested in partnering up with companies, organisations, and governments who share our goal of creating an informed and empowered society. </p>
            <div class="btn btn-block">Get in touch with us</div>
          </a>
        </div>
      </div>
      
      <h2>We're incredibly proud to work with these organisations</h2>
      <div class="row who">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://www.blacksash.org.za">
            <img src="/img/collaborators/black-sash.png">
          </a>
        </div>  
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://pmg.org.za/">
            <img src="/img/collaborators/pmg.png">
          </a>
        </div>  
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="https://africanlii.org/">
            <img src="/img/collaborators/africanlii-square.png">
          </a>
        </div>  
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://www.saflii.org/">
            <img src="/img/collaborators/saflii.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://www.povertyandinequality.uct.ac.za/">
            <img src="/img/collaborators/pii.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://www.treasury.gov.za/">
            <img src="/img/collaborators/treasury.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://www.salga.org.za/">
            <img src="/img/collaborators/salga.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://news24.com/">
            <img src="/img/collaborators/news24.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="http://amabhungane.co.za/">
            <img src="/img/collaborators/amabhungane.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a class="block" href="https://www.dailymaverick.co.za/">
            <img src="/img/collaborators/daily-maverick.png">
          </a>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
          <a class="block contact" href="/contact.html">
            <p><b>Does your organisation share our vision of an empowered and informed society?</b></p>
            <div class="btn btn-block">Work with us</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="trainup" class="trainup">
    <div class="container">
      <h1>We teach people the power of data</h1>
      <div class="row">
        <div class="col-md-6">
          <h3 class="subheader"><b>TrainUp</b>, our data training programme, teaches people and organisations how to use data to find trends, spot stories and communicate effectively using information</h3>
          <p>Our standard courses are taught over two days, but we can tailor them to fit your needs and we can integrate your organisation’s own datasets into the course.</p>
          <a class="btn btn-block" href="/trainup">Read more about TrainUp</a>
        </div>
        <div class="col-md-6 col-lg-5 col-lg-offset-1 icons">
          <i class="fa fa-fw fa-table" aria-hidden="true"></i><br>
          <i class="fa fa-fw fa-arrow-down first" aria-hidden="true"></i>
          <i class="fa fa-fw fa-arrow-down" aria-hidden="true"></i>
          <i class="fa fa-fw fa-arrow-down last" aria-hidden="true"></i><br>
          <i class="fa fa-fw fa-line-chart" aria-hidden="true"></i>
          <i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i>
          <i class="fa fa-fw fa-comments" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="openness container">
    <h1>We value openness</h1>
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/openupsa/" class="block">
          <i class="fa fa-github" aria-hidden="true"></i>
          <p>All our work is licensed under open source licenses and available on <span class="link">GitHub</span>. Pull requests welcome!</p>
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://data.code4sa.org/" class="block">
          <i class="fa fa-creative-commons" aria-hidden="true"></i>
          <p>Our <span class="link">open data portal</span> is a home for orphaned datasets.</p>
        </a>
      </div>
    </div>
  </div>

  <div id="newsletter" class="newsletter">
    <div class="container">
      <h1>Naked Data Newsletter</h1>
      <div class="row">
        <div class="col-md-6">
          <h3><b>Our weekly newsletter</b> on data, journalism, civic tech and everything in between. Every Friday, to get your weekend started.</h3>
          {% include newsletter-signup.html %}
        </div>
        <div class="col-md-6">
          <h3>The latest five issues</h3>
          <script src="//code4sa.us8.list-manage.com/generate-js/?u=11977a67604b965526b63ee6e&fid=3913&show=5"></script>
          <a href="/nakeddata-archive.html">Full archive</a>
        </div>
      </div>
    </div>
  </div>

  <div class="who-we-are container">
    <h1>Who we are</h1>
    <div class="row">
      <div class="col-md-6">
        <p>We are a group of post-corporate, tech and media professionals who cut our teeth in the commercial sector and now use our skills for social good</p>
        <p><b>Are you interested in joining our team and doing work that matters?</b> <a href="/careers.html">Check out our job openings</a></p>
      </div>
      <div class="col-md-6">
        <p>Our founding principles are guided by section 32 of the South African consitution:</p>
        <blockquote>Everyone has the right of access to any information held by the state; and any information that is held by another person and that is required for the exercise or protection of any rights</blockquote>
        <a class="btn btn-block" href="/about.html">Read more about us</a>
      </div>
    </div>
  </div>

</div>
