---
layout: base
title: Short Courses
short: OpenUp offers short courses in data-driven storytelling for newsrooms, full-time and freelance journalists, activists, and people working in non-profit and non-governmental organisations.
---

<div class="shortcourse-page">

	<section class="hero">
		<div class="container">
			<h1 class="text-center header">Learn</h1>
			<h2 class="text-center header">Short Courses</h2>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-xs-12">
					<p>OpenUp offers short courses in data-driven storytelling for newsrooms, full-time and freelance journalists, activists, and people working in non-profit and non-governmental organisations.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="shortcourse-intro">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<h2>What we offer</h2>
					<p>OpenUp offers short courses in data-driven storytelling for newsrooms, full-time and freelance journalists, activists, and people working in non-profit and non-governmental organisations.</p>
					<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
				</div>

				<div class="col-md-6">
					<h2>Request a course</h2>
					<p>Paste copy here</p>
					<a class="btn btn-primary" href="#">Request a course</a>
				</div>

			</div>
		</div>
	</section>


	<section class="courses">
		<div class="container">

			<h2>Our courses &nbsp; <a class="btn btn-primary" href="#">course overview pack <i class="fa fa-download" aria-hidden="true"></i></a></h2>

			<div class="row">
				<div class="col-md-3">
					<div class="course-box">
						<h4>Introduction to data journalism</h4>
						<p class="number-of-modules">8 modules</p>
						<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
						<a class="btn btn-primary" href="#">view modules</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="course-box">
						<h4>Data sourcing and storytelling</h4>
						<p class="number-of-modules">x modules</p>
						<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
						<a class="btn btn-primary" href="#">view modules</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="course-box">
						<h4>Data cleaning and storytelling</h4>
						<p class="number-of-modules">x modules</p>
						<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
						<a class="btn btn-primary" href="#">view modules</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="course-box">
						<h4>Data analysis and storytelling</h4>
						<p class="number-of-modules">x modules</p>
						<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
						<a class="btn btn-primary" href="#">view modules</a>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-3">
					<div class="course-box">
						<h4>Data analysis and storytelling</h4>
						<p class="number-of-modules">x modules</p>
						<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
						<a class="btn btn-primary" href="#">view modules</a>
					</div>
				</div>

				<div class="col-md-3">
					<div class="course-box">
						<h4>Data visualisation for storytelling</h4>
						<p class="number-of-modules">x modules</p>
						<p>We also offer data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way.</p>
						<a class="btn btn-primary" href="#">view modules</a>
					</div>
				</div>

			</div>


		</div>
	</section>



	<!--<section class="facilitators">
		<div class="container">
			<h2>Facilitators</h2>
			<div class="row">
				{% for member in site.team %}
					<div class="col-xs-6 col-sm-3 col-md-3">
          				{% if member.facilitator == true %}
							<div class="image">
								<a href="{{ site.baseurl }}{{ member.url }}"><img src="{{ site.baseurl }}/img/team/{{ member.name }}.jpg"></a>
							</div>
							<div class="name-title">
								<a href="{{ site.baseurl }}{{ member.url }}"><div class="member-name">{{ member.full-name }}</div></a>
								<div class="member-position">{{ member.position }}</div>
							</div>
						{% endif %}
					</div>
				{% endfor %}			
			</div>
		</div>
	</section>-->


</div>