---
layout: base
title: Transparent Corporates (TRACE)
short: We're making corporate data freely and publically available, to empower you to hold the right people in the corporate sector accountable when they do things that affect your everyday life.
extra_js:
 - https://cdn.jsdelivr.net/g/mark.js@8.8.2(mark.min.js+jquery.mark.js
 - /js/underscore-1.8.3-min.js
 - /js/handlebars-v4.0.5.js
 - /js/PorterStemmer1980.min.js
 - /js/data-desk-search.js
---
<div class="trace-page">
	<section class="hero">
		<div class="container">
			<h1 class="text-center header">TRACE</h1>
			<h2 class="text-center header">Transparent Corporates</h2>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-xs-12">
					<p>We're making corporate data freely and publically available, to empower you to hold the right people in the corporate sector accountable when they do things that affect your everyday life.</p>
				</div>
			</div>

      <div id="corporate-data-search">
			  <h3 class="text-center header">Search for corporate data</h3>

			  <form method="get" action="#">
			    <div class="input-group">
			      <input id="search-query-input" class="form-control" name="q" type="text" autocomplete="off">
			      <span class="input-group-btn">
							<button class="btn" type="submit">Search</button>
			      </span>
			    </div>
			  </form>
			  <script id="search-dataset-template" type="text/x-handlebars-template">
			    {% raw %}

			    <div class="panel panel-default {{#if searching}}searching{{/if}}" id="{{ id }}">
			      <div class="panel-heading">
							<h3 class="panel-title">{{ name }}</h3>
			      </div>
			      <div class="panel-body">
              {{#if hint}}
                <div class="hint">
                  {{hint}}
                </div>
              {{/if}}
							{{#if hits}}
							  <ul class="hits">
								  {{#each hits}}
								    <li>{{{ summary }}}</li>
								  {{/each}}
							  </ul>
						  <div><a href="{{ searchMoreURL }}" target="_blank">All {{ total_hits }} results from {{ name }} →</a></div>
							{{else}}
							  {{#unless searching}}
								  <i>nothing found</i>
							  {{/unless}}
							{{/if}}
							{{#if error}}
							  <div class="error">
                  Woops! Something went wrong. Please try again or get in touch.
	              </div>
							{{/if}}
			      </div>
			    </div>

			    {% endraw %}
			  </script>
			</div>
		</div>
	</section>

	<section id="search-results" class="container">
	  <div class="row">
	    <div class="col-md-6 col-1">
	    </div>
	    <div class="col-md-6 col-2">
	    </div>
	  </div>
	</section>

	<section class="container mission-requests">
		<div class="row">
			<div class="col-md-6">
				<h2>Our mission</h2>
				<p>We want to make corporate data truly accessible, because we believe you shouldn’t have to pay for company information that should legally and legitimately be public. We’re interrogating data around corporate structures and the relationships corporates have with the state, shareholders and communities.</p>
			</div>

			<div class="col-md-6">
				<h2>We're here to help</h2>
				<p>We can help you find the important corporate data you're missing. Just send us a data request.</p>
				<a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfC7tVCXIDjQzOF54MsUsdG4zJQIzka9PT7rnfRXXZG9lBTuw/viewform">Request data</a>
			</div>
		</div>
	</section>

	<section class="collection">
		<div class="container">
			<h2>Our corporate data collection</h2>
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<div class="item">
						<a href="https://data.code4sa.org/Government/Tender-Awards-2015-2016/kvv2-xrvr/data"><h3>Tenders</h3></a>
						<p>A rough OCR of tender bulletins for 2015 and 2016</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="item">
						<a href="https://data.code4sa.org/Business/UK-Land-Registry/n7gy-as2q/data"><h3>UK Land Registry</h3></a>
						<p>The latest list of properties from the UK Land Registry.</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="item">
						<a href="https://sourceafrica.net/search.html#q=projectid%3A404-sens"><h3>SENS</h3></a>
						<p>Market announcements from publicly listed companies.</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="item">
						<a href="https://data.code4sa.org/Government/Database-of-Restricted-Suppliers/rvqa-n6ju/data"><h3>Restricted suppliers</h3></a>
						<p>A list of blacklisted suppliers across all provinces</p>
					</div>
				</div>

				<div class="col-sm-8 col-md-6">
					<div class="item">
						<a href="#search-query-input"><h3>CIPC</h3></a>
						<p>Companies and Intellectual Property Commission database, including company names, registration numbers and director details.</p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="container">
    <div class="row">
			<div class="col-sm-6">
			  <h2>What is this corporate data you speak of?</h2>
			  <p>We have datasets and have done work around tender information, beneficial ownership, company shareholder registries, illicit financial flows, potential conflicts of interest in the private sector, and the environmental and social impacts that the decisions corporates make have on everyday life. You can read more about our work and the work other organisations are doing to improve corporate transparency and accountability here:</p>
			</div>
			<div class="col-sm-6 article-list">
			  {% assign articlecounter = 0 %}
			  {% for article in site.articles reversed %}
			  	{% for tool in article.tools %}
				    {% if tool.name == "trace" %}
				      {% if articlecounter == 4 %}
				        {% break %}
				      {% endif %}
				      {% assign articlecounter = articlecounter | plus:1 %}
								<div class="row article">
					      	<div class="col-sm-4">
						        <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/articles/{{ article.image}}"></a>
					      	</div>
					      	<div class="col-sm-8">
					          <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
					          <div>
						          {{ article.short }}
					          </div>
					      	</div>
								</div>
				    {% endif %}
				  {% endfor %}
			  {% endfor %}
			</div>
		</div>
	</section>

  <script id="cipc-hit-template" type="text/x-handlebars-template">
    {% raw %}

    <div class="name">{{ name }}</div>
    <div class="regno">{{ regno }} ({{ type }}) - {{ status }}</div>
    <div class="addr">{{ physaddress }}</div>
    <div class="addr">{{ postaddress }}</div>
    {{#each directors}}
    <div class="director"><strong>{{ director_position }}</strong>: {{ director_first_names }} {{ director_last_name }} {{ director_id }}</div>
    {{/each}}

    {% endraw %}
  </script>

  <script id="deceased-estate-hit-template" type="text/x-handlebars-template">
    {% raw %}

    <div class="">{{ id }}</div>
    <div class="">{{ file_number }}</div>
    <div class="">{{ name }}, {{ surname }}</div>
    <div class="">{{ date_of_death }}</div>
          <div class="">{{ idno }}</div>
          <div class="">{{ estate_tyoe }}</div>
          <div class="">{{ masters_office }}</div>
          <div title="Note: you may need to complete the captcha code on the home page if you get an error when visiting these notices. Older notices are also not always available any more.">
            <div class=""><a href="{{ executor_url }}" target="_blank">Executor</a></div>
            <div class=""><a href="{{ death_notice_url }}" target="_blank">Death Notice</a></div>
          </div>

    {% endraw %}
  </script>

  <script id="aleph-hit-template" type="text/x-handlebars-template">
    {% raw %}
    <div class="name">
      <a href="{{ host }}/text/{{ id }}?dq={{ query }}&amp;page={{ records.results.0.page }}" target="_blank">{{ title }}</a>
      <span class="hits">{{ countString }}</span>
    </div>

    <div class="snippet">Page {{ records.results.0.page }}: {{{ records.results.0.text }}}</div>
    {{#if records.results.[1]}}
    <div class="snippet">Page {{ records.results.1.page }}: {{{ records.results.1.text }}}</div>
    {{/if}}
    {{ endraw }}
  </script>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<section class="corporate-data-matters">
					<h2>Why corporate data matters</h2>
					<p>Here are some examples of why corporate data matters</p>
					<div class="example-box">
					  <h4>Centre for Environmental Rights Full Disclosure Report</h4>
					  <p>An investigation into corporate environmental compliance in South Africa. The report shows that some companies are committing serious compliance violations.</p>
					 	<a target="_blank" class="btn" href="http://cer.org.za/download/CER-Full-Disclosure.pdf"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
					</div>
					<div class="example-box">
					  <h4>Open Society Foundations Extractive Companies and Transparency Working Paper Two</h4>
					  <p>The Open Society Foundation is conducting ongoing research into South African disclosure practice and the drivers behind it.</p>
					  <a target="_blank" class="btn" href="http://www.osf.org.za/wp-content/uploads/2017/01/OSF-Extractives-Working-Paper_Drivers-of-Disclosure-in-South-Africas-Extractive-Sector.pdf"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<section class="article-list external-articles">
					<h2>Corporate data in the media</h2>
					<p>Relevant articles worth reading</p>
				  {% assign externalarticlecounter = 0 %}
				  {% for article in site.trace reversed %}
			      {% if externalarticlecounter == 4 %}
			        {% break %}
			      {% endif %}
			      {% assign externalarticlecounter = externalarticlecounter | plus:1 %}
							<div class="row article">
				      	<div class="col-sm-4">
					        <a href="{{ article.external-url }}"><img src="{{ site.baseurl }}/img/articles/{{ article.image}}"></a>
				      	</div>
				      	<div class="col-sm-8">
				          <a href="{{ article.external-url }}">{{ article.title }}</a>
				          <div>
					          {{ article.content }}
				          </div>
				      	</div>
							</div>
			    {% endfor %}
				</section>
			</div>
		</div>
	</div>

</div>