<footer>

	<section class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-xs-12">
					<p class="footer-title">Thought Leadership</p>
					<ul>
						<li>Open Data</li>
						<li>Active Citizenry</li>
						<li>Civic Technology</li>
						<li>Co-Governance</li>
						<li>Learn/Education</li>
					</ul>
				</div>

				<div class="col-md-4 col-xs-12">
					<p class="footer-title">Sitemap</p>
					<ul>
						<li>Our Organisation</li>
						<li>Our Tools</li>
						<li>Another One</li>
						<li>Another One</li>
						<li>Contact us</li>
					</ul>
				</div>

				<div class="col-md-4 col-xs-12">
					<p class="footer-title">NakedData</p>
					<p>Our weekly newsletter, every Friday. <a href="">Sign up now</p>

				</div>

			</div>
		</div>
	</section>


	<section class="footer-bottom">
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-xs-12">

				</div>

				<div class="col-md-8 col-xs-12">
					<p>Code for South Africa is a non-profit organisation registered with the South African Department of Social Development, number 133-850NPO.<br>Licensed under a Creative Commons Attribution 4.0 International License.</p>
				</div>

			</div>
		</div>
	</section>

</footer>