<footer>

	<section class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-md-3 col-xs-12">
					<!--<p class="footer-title">Thought Leadership</p>-->
					<ul>
						<li><a href="#">Open Data</a></li>
						<li><a href="#">Active Citizenry</a></li>
						<li><a href="#">Civic Technology</a></li>
						<li><a href="#">Co-Governance</a></li>
						<li><a href="#">Learn/Education</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 footer-item">
					<!--<p class="footer-title">Sitemap</p>-->
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Tools</a></li>
						<li><a href="#">Career</a></li>
						<li><a href="#">Resources</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 footer-item">
					<!--<p class="footer-title">NakedData</p>-->
					<img src="img/nakeddata.png" style="width:120px;">
					<p>Our weekly newsletter, every Friday.</p>
					<a href="">Sign up now</a>

				</div>

				<div class="col-md-3 col-xs-12 footer-item">
					<!--<p class="footer-title">NakedData</p>-->
					<p>Follow us</p>

				</div>

			</div>
		</div>
	</section>


	<section class="footer-copyright">
		<div class="container">
			<div class="row">

				<!--<div class="col-md-4 col-xs-12">

				</div>-->

				<!--<div class="col-md-8 col-xs-12">-->
				<div class="col-xs-12">
					<p>Code for South Africa is a non-profit organisation registered with the South African Department of Social Development, number 133-850NPO.<br>Licensed under a Creative Commons Attribution 4.0 International License.</p>
				</div>

			</div>
		</div>
	</section>

</footer>