@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.page-title {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-weight: 600;
}

.featured-tool {
  .image {
    padding-top: 20px;
  }
  .bubble {
    border-radius: 100px;
    background-color: #ababab;
    bottom: 45%;
    left: -30px;
    height: 90px;
    width: 90px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 90px;
    position: absolute;
    font-weight: bold;
    @media (max-width:1240px) {
      bottom: -45px;
      left: 55%;
    }
  }
  .category {
    text-transform: uppercase;
    color: #ababab;
    font-style: italic;
    margin-bottom: 5px;
  }
  .title {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 90%;
  }
  .author {
    color: #ababab;
    font-style: italic;
    margin-bottom: 20px;
  }
  .arrow {
    position: absolute;
    right: 10px;
    top: 20%;
    font-size: 4em;
  }
  .article {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    position: relative;
  }
  .learnmore {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.7em;
  }
}

.alltools {
  background-color: #f9f9f9;
  margin-top: 25px;
  .row {
    margin-bottom: 30px;
  }
}

.post-excerpt {
  margin-top: 10px;
  font-size: 20px;

}

figure {
  margin-bottom: 30px;
  font-size: 12px;
}

figure img {
  width: 80%;
}

figcaption {
  font-style: italic;
}

.figcredit {
  font-style: normal;
  font-size: 10px;
  color: #B0B0B0;
}

.collapse-box {
  background-color: #f7f7f7;
  color: #333;
  padding: 15px;
  margin: 10px 0px;
}

.relate-post {
  margin-bottom: 30px;
}

.relate-post-title {
  font-size: 20px;
}

blockquote {

}

.post-order ul li {
  list-style-type: none;
  display: inline;
  float: left;
}

.topContent {
  margin-top: 30px;
  margin-bottom: 30px;
}

.categories-section {
  font-size: 12px;
  margin-bottom: 30px;

}

.author-section {
  margin-top: 30px;
}

.byline {
  margin-top: 30px;
  color: #B0B0B0;
}

.author-lead {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.footnotes {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* social sharing */

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-bottom:30px;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img {
  width: 25px;
  margin-right: 10px;
}

.post-list-style {
  margin: 15px 0px;
}

.post-list-style ul li {
  /*border-bottom: 1px solid #f7f7f7;*/
  padding: 5px 0px;
}

.post-order ul {
  margin-left: -50px;
}

.post-grid-excerpt {
  height: 200px;
}