---
layout: trainup
title: TrainUp
---
<div class="trainup">

  <section class="hero">
    <div class="container">
      <h1 class="text-center header">TrainUp</h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>Data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way</p>
        </div>
      </div>
    </div>
  </section>

  <section id="courses" class="courses">
    <div class="container">
      <h1 class="title">What do you want to learn?</h1>
      <div class="row boxes">
        <div class="col-md-4">
          <a href="#clean" class="block">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div class="course-title">Source and clean</div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#analyse" class="block">
            <i class="fa fa-table" aria-hidden="true"></i>
            <div class="course-title">Analyse for storytelling</div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#present" class="block">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <div class="course-title">Package and present</div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="clean" class="single-course">
    <div class="container">
      <h1>Source and clean</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><b>Find, extract and transform relevant data</b> into a machine-readable format</li>
            <li>Understand the <b>correct way to organise, reorder and shape a dataset</b> in order to find stories</li>
            <li>Use open source tools to <b>clean data for the purposes of analysis</b> for data storytelling</li>
          </ul>
          <a class="btn" href="clean.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <img src="/img/trainup/clean.jpg">
        </div>
      </div>
    </div>
  </section>

  <section id="analyse" class="single-course">
    <div class="container">
      <h1>Analyse for storytelling</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Develop <b>comprehensive spreadsheet functionality</b></li>
            <li>Interview a dataset through a journalistic lens to <b>mine for potential stories</b></li>
            <li>Compose basic <b>overviews of data utilising pivot tables</b></li>
          </ul>
          <a class="btn" href="analyse.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <img src="/img/trainup/analyse.png">
        </div>
      </div>
    </div>
  </section>

  <section id="present" class="single-course">
    <div class="container">
      <h1>Package and present</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Understand the basics of <b>user experience design and wireframing for visualisation</b></li>
            <li>Apply <b>fundamental design principles</b> to the production of data visualisations</li>
            <li>Package and present your data to <b>tell a compelling narrative</b></li>
          </ul>
          <a class="btn" href="present.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <img src="/img/trainup/present.jpg">
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <h1 class="title">Get in touch</h1>
      <p><b>Interested in one of our courses?</b> Get in touch with us. Also let us know if you want to <b>request a course</b>. We can shape our curriculum around your internal datasets.</p>
      <a class="btn" href="mailto:training@openup.org.za">training@openup.org.za</a>
    </div>
  </section>

  <section id="articles" class="articles article-list container">
    <h1>Latest news</h1>
    <div class="row">
      {% assign articleCount = 0 %}
      {% for article in site.articles reversed %}
        {% for tool in article.tools %}
          {% if tool.name == "short-courses" %}
            {% if articleCount == 3 %}
              {% break %}
            {% endif %}
            <div class="one-article col-md-4 col-sm-6">

            <div class="title-image-wrap">
              <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/articles/{{ article.image}}"></a>
              
              <div class="article-title">
                <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
              </div>
            </div>

              <div class="article-author">
                {% if article.author-external %}
                  <div>by <a href="{{ article.author-external-url }}">{{ article.author-external }}</a></div>
                {% else %}
                  {% for member in site.team %}
                    {% if member.name == article.author %}
                      <div>by <a href="{{ member.url | prepend: site.baseurl }}">{{ member.full-name }}</a></div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              <p>{{ article.short }}</p>
            </div>
            {% assign articleCount = articleCount | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}      
    </div>
  </section>

  <section id="stories" class="academy article-list container">
    <h1>Stories</h1>
    <p>A small selection of stories written by journalists who have taken our courses</p>
    <div class="row">
      {% assign storyCount = 0 %}
      {% for article in site.academy %}
        {% if storyCount == 3 %}
          {% break %}
        {% endif %}
        <div class="one-article col-md-4 col-sm-6">

        <div class="title-image-wrap">
          <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/trainup/{{ article.image}}"></a>
          
          <div class="article-title">
            <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
          </div>
        </div>
          <p>{{ article.short }}</p>
        </div>
        {% assign storyCount = storyCount | plus: 1 %}
      {% endfor %}      
    </div>
  </section>

  <section id="faq" class="faq">
    <div class="container">
      <h1>Frequently asked questions</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="question">
            At what venue are the open intakes facilitated?
          </div>
          <div class="answer">
            <p>Venue will be advised 1 week prior to training to all attendees.</p>
          </div>
          <div class="question">
            What are the general course requirements?
          </div>
          <div class="answer">
            <p>
              <ul>
                <li>Participants need access to their own laptop</li>
                <li>Participants need their own activated gmail account</li>
                <li>Participants should have access to the Google Chrome browser</li>
              </ul>
            </p>
          </div>
          <div class="question">
            Does OpenUp subsidise any training and/or travel?
          </div>
          <div class="answer">
            <p>A 10% discount is available for NPOs on all short courses. Travel subsidies are unfortunately not available.</p>
          </div>
          <div class="question">
            How much do courses cost and what are the payment options?
          </div>
          <div class="answer">
            <p>Courses cost R2,300 per person per day. 50% deposit is required on application, the balance being due before training commences.</p>
          </div>
          <div class="question">
            Do you have online courses available?
          </div>
          <div class="answer">
            <p>We are publishing [tutorials and content] on basic data literacy knowledge and skills as well as open software usage free.</p>
          </div>
          <div class="question">
            When are your upcoming courses?
          </div>
          <div class="answer">
            <p>Please check our event calendar here</p>
          </div>
          <div class="question">
            Are your courses only around data?
          </div>
          <div class="answer">
            <p>Our courses are shaped around data processing for storytelling, ie for anyone who needs to work with data in order to communicate insights to stakeholders.</p>
          </div>
          <div class="question">
            Please may we have some more information about your courses?
          </div>
          <div class="answer">
            <p>Our courses run in one of 2two ways - either internally for organisations who have a large enough group for us to facilitate internal training, or alternatively as scheduled open intakes based on a minimum number of participants.</p>
          </div>
          <div class="question">
            Are your courses only available to organisations?
          </div>
          <div class="answer">
            <p>Our open intakes are open to the public based on scheduling.</p>
          </div>
          <div class="question">
            What is the minimum number of students you take per course for group bookings?
          </div>
          <div class="anwer">
            <p>Our courses run for a minimum of 8 and a maximum of 15 Learners.</p>
          </div>
          <div class="question">
            How long are your courses?
          </div>
          <div class="anwer">
            <p>Our courses run for between one & two days, depending on the required modules.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="question">
            What is the cost of  internal organisational training per course?
          </div>
          <div class="anwer">
            <p>We prefer to compile modules for internal organisational based on a consultative process with organisations to ensure that we cover content suitable to the organisation's needs.  We also provide the option to shape curriculum for internal training around an organisation's own data, to ensure the relevant skills transfer, which may entail a small additional cost.</p>
          </div>
          <div class="question">
            Why isn’t your training free?
          </div>
          <div class="anwer">
            <p>OpenUp’s Data Literacy Programme consists of 2 main endeavours:</p>
            <p>Firstly, through our <a href="http://codebridge.org.za">Codebridge</a> grant we fund free data literacy training for identified segments of the population i.e. youth, school children, or those who are unable to afford commercial training opportunities. (More content on this soon)</p>
            <p>We are publishing tutorials and content on basic data literacy knowledge and skills, as well as open software usage, free.  Additionally our material is shared with the <a href="http://schoolofdata.org/">School of Data</a>, with whom we collaborate on curriculum development.</p>
            <p>Secondly, Short Courses are facilitated at commercial rates as a profit stream that contributes to the sustainability of our  organisation, and in support of some of our other projects. Our short course curriculum will equip Learners with the skills our team has acquired through the practise and teaching of this material, as it relates to the Data Processing Pipeline.</p>
          </div>
          <div class="question">
            Why Data Literacy?
          </div>
          <div class="anwer">
            <p>OpenUp, and indeed the entire international Open Movement, has been aiming to, and will continue to liberate as much useful data as we can.</p>
            <p>But are people able to use this data?</p>
            <p>Data literacy & data processing skills are critical to providing people with access to any data.  At OpenUp our theory of change is  ‘If people are given information about their situation, how change can be achieved and the means to do so, they will often take action to improve their lives”. Part of providing information, is providing solutions to data literacy challenges.  Thus are people enabled to make informed decisions.</p>
          </div>
          <div class="question">
            Why Storytelling?
          </div>
          <div class="anwer">
            <p>We explore these decisions through the lens of storytelling.  Through the ages storytelling has been used to impart information. The model of data-driven journalism provides the ethics, the framework, and the verification procedures necessary to do this authentically.</p>
          </div>
        </div>
        </div>
      </div>
  </section>

  <section class="taken container hidden">
    <h1>Courses taken by</h1>
    <div class=""></div>
  </section>

  <section class="contact">
    <div class="container">
      <h1 class="title">Get in touch</h1>
      <p><b>Interested in one of our courses?</b> Get in touch with us. Also let us know if you want to <b>request a course</b>. We can shape our curriculum around your internal datasets.</p>
      <a class="btn btn-primary" href="mailto:training@openup.org.za">training@openup.org.za</a>
    </div>
  </section>
</div>