---
layout: trainup
title: Data training
image: trainup.jpg
short: Data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way
---
<div class="trainup-page">

  <section class="hero">
    <div class="container">
      <h1 class="text-center header">Data training</h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>Data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way</p>
          {% include social_sharing.html %}
        </div>
      </div>
    </div>
  </section>

  <!--TODO: Remove unused code-->
  <!--<section id="trainup-announcements">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="trainup-section-annotation"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Upcoming events</p>
          <h2>Book now to join our training events this May!</h2><br>
          <p><strong>Data Visualisation</strong></p>
          <p>We’ve received a lot of interest in our data visualisation course, so we’ve decided to run our <a style="font-weight: bold;" href="https://openup.org.za/trainup/present.html">Package and Present for Data Storytelling (Data Visualisation)</a> short course each month during 2018. <a style="font-weight: bold;" href="https://goo.gl/forms/fWmQKQX9PHVuimZ62">Sign-up and join</a> our Package and Present for Data Storytelling short course. You can also <a href="https://drive.google.com/file/d/1PxwW8k4325eyLcHLmZ3Nj5e30__mr7kC/view?usp=sharing"><strong>download our event invitation</strong></a>.</p>
          <p><strong>Analyse Data for Storytelling</strong></p>
          <p>We’re excited to announce that we’ll be running our <a href="https://openup.org.za/trainup/analyse.html" style="font-weight: bold;">Analyse Data for Storytelling</a> short course on 29 - 30 May in Cape Town and Johannesburg. Our two day Analyse Data for Storytelling short course takes you through the philosophy, fundamentals, formulae, functions and ethics of data storytelling. You can also <a href="https://drive.google.com/file/d/1M8R9ci24o-LpvPARROh4qReYpOQF4FAA/view?usp=sharing"><strong>download our event invitation</strong></a>. <a style="font-weight: bold;" href="https://goo.gl/forms/MqgsY2Yiqm46EeLn2">Sign-up now</a> and get ready to starting mining your data for storytelling.</p><br>
          <p><a class="btn" href="https://calendar.google.com/calendar/embed?src=openup.org.za_icp3kgriom3ftkd0mgn6qlrre0%40group.calendar.google.com&ctz=Africa%2FJohannesburg">Explore our Calendar for more training dates</a></p>
        </div>
      </div>
    </div>
  </section>-->

  <section id="courses" class="courses">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; Our courses</p>
      <h1 class="title">What do you want to learn?</h1>
      <div class="row boxes">
        <div class="col-md-4">
          <a href="clean.html" class="block">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div class="course-title">Source and clean</div>
            <div class="learn-bullets">
              <ul>
                <li><b>Find, extract and transform relevant data</b> into a machine-readable format</li>
                <li>Understand the <b>correct way to organise, reorder and shape a dataset</b> to find stories</li>
                <li>Use open source tools to <b>clean data for the purposes of analysis</b> for data storytelling</li>
              </ul>
            </div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="analyse.html" class="block">
            <i class="fa fa-table" aria-hidden="true"></i>
            <div class="course-title">Analyse for storytelling</div>
            <div class="learn-bullets">
              <ul>
                <li>Develop <b>comprehensive spreadsheet functionality</b></li>
                <li>Interview a dataset through a journalistic lens to <b>mine for potential stories</b></li>
                <li>Compose basic <b>overviews of data utilising pivot tables</b></li>
              </ul>
            </div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="present.html" class="block">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <div class="course-title">Package and present</div>
            <div class="learn-bullets">
              <ul>
                <li>Understand the basics of <b>user experience design and wireframing for visualisation</b></li>
                <li>Apply <b>fundamental design principles</b> to the production of data visualisations</li>
                <li>Package and present your data to <b>tell a compelling narrative</b></li>
              </ul>
            </div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="why-enroll" class="enroll">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Why should you enroll?</p>
      <h1>One of a kind data storytelling short courses</h1>
      <p>At TrainUp, we are the only provider in South Africa of two-day data storytelling short courses that are open to the public.</p>
      <div class="benefits-grid">
        <div class="row">
          <div class="col-md-4 benefits">
            <img src="/img/trainup/benefits/000.png" />
            <p>Face to face training with small class sizes</p>
          </div>
          <div class="col-md-4 benefits">
            <img src="/img/trainup/benefits/001.png" />
            <p>Mindful integration of skills into daily workflows</p>
          </div>
          <div class="col-md-4 benefits">
            <img src="/img/trainup/benefits/002.png" />
            <p>Theoretical and practical application</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 benefits">
            <img src="/img/trainup/benefits/003.png" />
            <p>Local relevance of practice datasets and data sources</p>
          </div>
          <div class="col-md-4 benefits">
            <img src="/img/trainup/benefits/004.png" />
            <p>Two main metropoles: Johannesburg and Cape Town</p>
          </div>
          <div class="col-md-4 benefits">
            <img src="/img/trainup/benefits/005.png" />
            <p>Free online learning support materials</p>
          </div>
        </div>
      </div>
      <h1>With proven methodologies that are practiced and published!</h1>
      <p>The <a href="#courses">curriculum</a> is developed from the pool of multidisciplinary knowledge of the <a href="/about">OpenUp team</a>, a team of post-corporate lecturers, data wranglers, developers, journalists, information architects and online media specialists, <a href="/tools">who work and innovate in this field</a> on a daily basis. And <a href="#stories">data stories</a> using these methodologies by the OpenUp team and alumni have appeared in the following South African publications:</p>
      <div class="published">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="/img/trainup/businessday.png"></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="#"><img src="/img/trainup/publications/financialmail.png"></a></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="#"><img src="/img/trainup/publications/dailymaverick.png"></a></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="/img/trainup/sundaytimes.png"></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="#"><img src="/img/trainup/publications/citypress.png"></a></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="/img/trainup/dailydispatch.png"></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/ewn.png"></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.netwerk24.com/"><img src="/img/trainup/publications/netwerk24.png"></a></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="#"><img src="/img/trainup/publications/news24.png"></a></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://www.sabc.co.za/news"><img src="/img/trainup/sabc.png"></a></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="/img/trainup/capeargus.png"></div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.iol.co.za/weekend-argus"><img src="/img/trainup/weekendargus.png"></a></div>
        </div>
      </div>
    </div>
  </section>

  <!--TODO: Remove unused code-->
  <!--<section id="clean" class="single-course">
    <div class="container">
      <h1>Source and clean</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><b>Find, extract and transform relevant data</b> into a machine-readable format</li>
            <li>Understand the <b>correct way to organise, reorder and shape a dataset</b> in order to find stories</li>
            <li>Use open source tools to <b>clean data for the purposes of analysis</b> for data storytelling</li>
          </ul>
          <a class="btn" href="clean.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <a href="clean.html"><img src="/img/trainup/clean.jpg"></a>
        </div>
      </div>
    </div>
  </section>

  <section id="analyse" class="single-course">
    <div class="container">
      <h1>Analyse for storytelling</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Develop <b>comprehensive spreadsheet functionality</b></li>
            <li>Interview a dataset through a journalistic lens to <b>mine for potential stories</b></li>
            <li>Compose basic <b>overviews of data utilising pivot tables</b></li>
          </ul>
          <a class="btn" href="analyse.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <a href="analyse.html"><img src="/img/trainup/analyse.png"></a>
        </div>
      </div>
    </div>
  </section>

  <section id="present" class="single-course">
    <div class="container">
      <h1>Package and present</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Understand the basics of <b>user experience design and wireframing for visualisation</b></li>
            <li>Apply <b>fundamental design principles</b> to the production of data visualisations</li>
            <li>Package and present your data to <b>tell a compelling narrative</b></li>
          </ul>
          <a class="btn" href="present.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <a href="present.html"><img src="/img/trainup/present.jpg"></a>
        </div>
      </div>
    </div>
  </section>-->

  <section class="contact">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-tty" aria-hidden="true"></i>&nbsp; Get in touch</p>
      <h1 class="title">Stay up to date</h1>
      <p>Join our mailing list stay up to date with our upcoming training events, publications and more.</p>
      {% include data_newsletter-signup.html %}
    </div>
  </section>

  <section id="open-content" class="open-content">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp; Open learning</p>
      <h1 class="title">Get started with our Open Content</h1><br>
      <p class="explainer">Besides our courses, we are proud to also offer <b>open content that teaches you basic data literacy</b>. We've carefully put together this content for those who want to <b>become more comfortable obtaining, using, analysing, and presenting data</b>. You are entirely <b>free to use, share, and adapt</b> it however you like, it's licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
      <p class="explainer">The basic data literacy content is a work in progress which we'll add to as we finish new modules. Let us know if you want to <b><a href="mailto:training@openup.org.za">be notified when a new module is available</b>.</p><br>
      <div class="row boxes">

        <div class="col-md-4">
          <a href="data-basics.html" class="block">
            <i class="fa fa-table" aria-hidden="true"></i>
            <div class="open-content-title">Data basics</div>
            <p class="open-content-description">Learn the fundamentals of data, its types, and formats</p>
            <div class="btn btn-block">Start learning</div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="scraping.html" class="block">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
            <div class="open-content-title">Scraping data</div>
            <p class="open-content-description">Extract data hidden in PDFs, images, and web pages</p>
            <div class="btn btn-block">Start learning</div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="mailto:training@openup.org.za?subject=Basic%20data%20literacy&body=Hi%20there%21%0D%0A%0D%0APlease%20send%20me%20an%20email%20when%20you%20finish%20the%20basic%20data%20literacy%20module%20on%20the%20data%20pipeline%2E" class="block pending">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            <div class="open-content-title">Data pipeline</div>
            <p class="open-content-description">An overview of going from finding to presenting data</p>
            <div class="btn btn-block">Get notified when completed</div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="data-unit.html" class="block">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <div class="open-content-title">The Data Unit</div>
            <p class="open-content-description">Who works with data, and how?</p>
            <div class="btn btn-block">Start learning</div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="mailto:training@openup.org.za?subject=Basic%20data%20literacy&body=Hi%20there%21%0D%0A%0D%0APlease%20send%20me%20an%20email%20when%20you%20finish%20the%20basic%20data%20literacy%20module%20on%20PAIA%20requests%2E" class="block pending">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <div class="open-content-title">PAIA kit</div>
            <p class="open-content-description">Successfully make Public Access of Information requests</p>
            <div class="btn btn-block">Get notified when completed</div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="mailto:training@openup.org.za?subject=Basic%20data%20literacy&body=Hi%20there%21%0D%0A%0D%0APlease%20send%20me%20an%20email%20when%20you%20finish%20the%20basic%20data%20literacy%20module%20on%20visualisation%20tools%2E" class="block pending">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
            <div class="open-content-title">Visualisation tools</div>
            <p class="open-content-description">Simple but powerful tools you can use to visualise your data</p>
            <div class="btn btn-block">Get notified when completed</div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section id="articles" class="articles article-list">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp; Latest news</p>
      <h1>What's happening?</h1><br>
      <div class="row">
        {% assign articleCount = 0 %}
        {% for article in site.articles reversed %}
          {% for tool in article.tools %}
            {% if tool.name == "trainup" %}
              {% if articleCount == 3 %}
                {% break %}
              {% endif %}
              <div class="one-article col-md-4 col-sm-6">

              <div class="title-image-wrap">
                <a class="viz-featured-image"
                   href="{{ article.url | prepend: site.baseurl }}"
                   style="background-image: url('{{ site.baseurl }}/img/articles/{{ article.image}}')"
                ></a>

                <div class="article-title">
                  <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
                </div>
              </div>

                <div class="article-author">
                  {% if article.author-external %}
                    <div>by <a href="{{ article.author-external-url }}">{{ article.author-external }}</a></div>
                  {% else %}
                    {% for member in site.team %}
                      {% if member.name == article.author %}
                        <div>by <a href="{{ member.url | prepend: site.baseurl }}">{{ member.full-name }}</a></div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                <p>{{ article.short }}</p>
              </div>
              {% assign articleCount = articleCount | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="stories" class="academy article-list">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp; We're published</p>
      <h1>Explore our data stories</h1><br>
      <p>A small selection of stories from the Data Journalism Academy and the OpenUp newsroom. <em>We'll be updating this regularly with new and past publications.</em></p><br>
      <div class="row article-row">
        {% for article in site.academy %}
          <div class="one-article hidden col-md-4 col-sm-6">

          <div class="title-image-wrap">
            <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/trainup/academy-articles/{{ article.image}}"></a>

            <div class="article-title">
              <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
            </div>
          </div>
            <p>{{ article.short }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="btn show-more">Show more stories</div>
    </div>
  </section>

  <section id="faq" class="faq">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; FAQ</p>
      <h1>Frequently asked questions</h1><br>
      <div class="row">
        <div class="col-md-6">

          <div class="question">
            Who are these courses for?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>They are aimed at anyone who uses data to communicate insights to stakeholders. We have trained journalists, civil society organisations, and governments. If you're not sure if / how you can benefit from our courses <a href="mailto:training@openup.org.za">don't hesitate to ask</a>.</p>
          </div>

          <div class="question">
            How much do they cost?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Our courses are R2,300 per person per day. A 50% deposit is required on registration, the balance being due before training commences. Registered non-profit organisations get a 10% discount. For large organisations interested in tailor-made courses, please <a href="">get in touch</a>.</p>
          </div>

          <div class="question">
            When are your upcoming courses?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Our upcoming courses will be added to our <a href="https://calendar.google.com/calendar/embed?src=openup.org.za_icp3kgriom3ftkd0mgn6qlrre0%40group.calendar.google.com&ctz=Africa%2FJohannesburg">event calendar</a>, announced via our OpenUp social media accounts (<a href="http://twitter.com/openupsa">Twitter</a>, <a href="https://www.facebook.com/OpenUpSA/">Facebook</a>), on our TrainUp page as well as via email. If you would like to be notified via email, <a href="#trainup-contact">sign-up to join our mailing list</a>.</p>
            <p><a href="#trainup-announcements">Click here to check out our current training opportunities</a>.</p>
          </div>

          <div class="question">
            Where will training be facilitated?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Training venues for Open Intakes will be sourced in various major cities where greater interest is expressed. These venues will be communicated in advance via social, traditional media as well as on our web page.</p>
          </div>

          <div class="question">
            How long are your courses?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Our courses run for between one and two days, depending on the required modules. If you want a course specifically tailored to your needs <a href="mailto:training@openup.org.za">get in touch with us</a>.</p>
          </div>

          <div class="question">
            Are there any general course requirements?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Participants need access to their own laptop, an activated <a href="https://accounts.google.com/SignUp?hl=en">Google account</a>, and access to the <a href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome browser</a>. More specific requirements can be found on the <a href="#clean">individual course pages</a>.</p>
          </div>

          <div class="question">
            Does OpenUp subsidise training and/or travel?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>A 10% discount is available for NPOs on all courses. Travel subsidies are unfortunately not available.</p>
          </div>

          <div class="question">
            Are your courses only around data?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Yes. More specifically, our courses are shaped around data processing <i>for storytelling</i>, which we believe to be the most effective way at conveying data-rich information.</p>
          </div>

        </div>

        <div class="col-md-6">

          <div class="question">
            How many people can attend a single course?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Our courses run for a minimum of 8 and a maximum of 15 learners. We require a minimum number of participants to be cost effective and a maximum to ensure we can dedicate enough time and attention to each participant.</p>
          </div>

          <div class="question">
            What is the cost of internal organisational <br class="visible-lg">training per course?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>We compile modules for internal training for organisations based on a consultative process to ensure that we cover content suitable for the organisation's needs. We also provide the option to shape curriculum for internal training around an organisation's own data, to ensure the relevant skills transfer.</p>
          </div>

          <div class="question">
            Why isn’t your training free?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>TrainUp consists of two main endeavours:</p>
            <p>Firstly, through our <a href="http://codebridge.org.za">Codebridge</a> grant we fund data literacy training for identified segments of the population i.e. youth, school children, or those who are unable to afford commercial training opportunities.</p>
            <p>We are publishing tutorials and content on basic data literacy knowledge and skills, as well as open software usage, for free. Additionally, our material is shared with the <a href="http://schoolofdata.org/">School of Data</a>, with whom we collaborate on curriculum development.</p>
            <p>Secondly, TrainUp courses are facilitated at commercial rates as a profit stream that contributes to the sustainability of our  organisation and in support of our other projects. Our TrainUp curriculum will equip learners with the skills our team has acquired through the practise and teaching of this material, as it relates to the Data Processing Pipeline.</p>
          </div>

          <div class="question">
            Why data literacy?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>An understanding of data and its potential is needed to make effective use of it. TrainUp aims to create storytellers who know how to use data effectively and empower society so they understand this data in order to drive social change.</p>
          </div>

          <div class="question">
            Why storytelling?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <p>Data by itself is dry, impersonal, and distant. Our experience with civil society organisations, governments, and news organisations has taught us the power of storytelling, and we believe it to be the best way to impart information. Our courses are designed to help you find and create compelling stories from data so you can most effectively communicate with your stakeholders.</p>
          </div>

          <div class="question">
            Do you have more questions?<i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="answer">
            <a class="btn" href="mailto:training@openup.org.za">training@openup.org.za</a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="taught" class="taught">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Our clients</p>
      <h1>Who we've taught</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.activateleadership.co.za/"><img src="/img/trainup/activate.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/businessday.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/capeargus.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/caxton.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://code4ct.com/"><img src="/img/trainup/code4ct.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/dailydispatch.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/ewn.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://www.gga.org/"><img src="/img/trainup/gga.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.icfj.org/"><img src="/img/trainup/icfj.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://ikamvayouth.org/"><img src="/img/trainup/ikamvayouth.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/investec.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/medpages.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.netwerk24.com/"><img src="/img/trainup/netwerk24.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://www.povertyandinequality.uct.ac.za/"><img src="/img/trainup/pii.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://www.quirky30.co.za/"><img src="/img/trainup/quirky30.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/rhodes.svg"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://www.sabc.co.za/news"><img src="/img/trainup/sabc.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://scibraai.co.za/"><img src="/img/trainup/scibraai.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="http://sciencelink.co.za/"><img src="/img/trainup/sciencelink.png"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.snapplify.com/"><img src="/img/trainup/snapplify.svg"></a></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/sundaytimes.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hidden"><img src="/img/trainup/uct.png"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="https://www.iol.co.za/weekend-argus"><img src="/img/trainup/weekendargus.png"></a></div>
      </div>
    </div>
  </section>

  <section id="trainup-contact" class="contact">
    <div class="container">
      <p class="trainup-section-annotation"><i class="fa fa-tty" aria-hidden="true"></i>&nbsp; Get in touch</p>
      <h1 class="title">Stay up to date</h1>
      <p>Join our mailing list stay up to date with our upcoming training events, publications and more.</p>
      {% include data_newsletter-signup.html %}
    </div>
  </section>
</div>