---
layout: trainup
title: TrainUp
short: Data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way
---
<div class="trainup">

  <section class="hero">
    <div class="container">
      <h1 class="text-center header">TrainUp</h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>Data-driven storytelling training for people working in the public and private sectors who need to communicate information in an effective and easy-to-understand way</p>
        </div>
      </div>
    </div>
  </section>

  <section id="courses" class="courses">
    <div class="container">
      <h1 class="title">What do you want to learn?</h1>
      <div class="row boxes">
        <div class="col-md-4">
          <a href="#clean" class="block">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div class="course-title">Source and clean</div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#analyse" class="block">
            <i class="fa fa-table" aria-hidden="true"></i>
            <div class="course-title">Analyse for storytelling</div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#present" class="block">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <div class="course-title">Package and present</div>
            <div class="btn btn-block">More info</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="clean" class="single-course">
    <div class="container">
      <h1>Source and clean</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><b>Find, extract and transform relevant data</b> into a machine-readable format</li>
            <li>Understand the <b>correct way to organise, reorder and shape a dataset</b> in order to find stories</li>
            <li>Use open source tools to <b>clean data for the purposes of analysis</b> for data storytelling</li>
          </ul>
          <a class="btn" href="clean.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <img src="/img/trainup/clean.jpg">
        </div>
      </div>
    </div>
  </section>

  <section id="analyse" class="single-course">
    <div class="container">
      <h1>Analyse for storytelling</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Develop <b>comprehensive spreadsheet functionality</b></li>
            <li>Interview a dataset through a journalistic lens to <b>mine for potential stories</b></li>
            <li>Compose basic <b>overviews of data utilising pivot tables</b></li>
          </ul>
          <a class="btn" href="analyse.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <img src="/img/trainup/analyse.png">
        </div>
      </div>
    </div>
  </section>

  <section id="present" class="single-course">
    <div class="container">
      <h1>Package and present</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Understand the basics of <b>user experience design and wireframing for visualisation</b></li>
            <li>Apply <b>fundamental design principles</b> to the production of data visualisations</li>
            <li>Package and present your data to <b>tell a compelling narrative</b></li>
          </ul>
          <a class="btn" href="present.html">Read more about this course</a>
          <a class="btn" href="mailto:training@openup.org.za">Get in touch</a>
        </div>
        <div class="col-md-6 visible-md visible-lg">
          <img src="/img/trainup/present.jpg">
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <h1 class="title">Get in touch</h1>
      <p><b>Interested in one of our courses?</b> Get in touch with us. Also let us know if you want to <b>request a course</b>. We can shape our curriculum around your internal datasets.</p>
      <a class="btn" href="mailto:training@openup.org.za">training@openup.org.za</a>
    </div>
  </section>

  <section id="articles" class="articles article-list container">
    <h1>Latest news</h1>
    <div class="row">
      {% assign articleCount = 0 %}
      {% for article in site.articles reversed %}
        {% for tool in article.tools %}
          {% if tool.name == "short-courses" %}
            {% if articleCount == 3 %}
              {% break %}
            {% endif %}
            <div class="one-article col-md-4 col-sm-6">

            <div class="title-image-wrap">
              <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/articles/{{ article.image}}"></a>
              
              <div class="article-title">
                <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
              </div>
            </div>

              <div class="article-author">
                {% if article.author-external %}
                  <div>by <a href="{{ article.author-external-url }}">{{ article.author-external }}</a></div>
                {% else %}
                  {% for member in site.team %}
                    {% if member.name == article.author %}
                      <div>by <a href="{{ member.url | prepend: site.baseurl }}">{{ member.full-name }}</a></div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              <p>{{ article.short }}</p>
            </div>
            {% assign articleCount = articleCount | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}      
    </div>
  </section>

  <section id="stories" class="academy article-list container">
    <h1>Stories</h1>
    <p>A small selection of stories written by journalists who have taken our courses</p>
    <div class="row">
      {% assign storyCount = 0 %}
      {% for article in site.academy %}
        {% if storyCount == 3 %}
          {% break %}
        {% endif %}
        <div class="one-article col-md-4 col-sm-6">

        <div class="title-image-wrap">
          <a href="{{ article.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/trainup/{{ article.image}}"></a>
          
          <div class="article-title">
            <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
          </div>
        </div>
          <p>{{ article.short }}</p>
        </div>
        {% assign storyCount = storyCount | plus: 1 %}
      {% endfor %}      
    </div>
  </section>

  <section id="faq" class="faq">
    <div class="container">
      <h1>Frequently asked questions</h1>
      <div class="row">
        <div class="col-md-6">

          <div class="question">
            Who are these courses for?
          </div>
          <div class="answer">
            <p>They are aimed at anyone who uses data to communicate insights to stakeholders. We've trained journalists, civil society organisations, and governments. If you're not sure if / how you can benefit from our courses <a href="mailto:training@openup.org.za">don't hesitate to ask</a>.</p>
          </div>

          <div class="question">
            How much do they cost?
          </div>
          <div class="answer">
            <p>Our courses are R2,300 per person per day. A 50% deposit is required on registration, the balance being due before training commences. Registered non-profit organisations get a 10% discount. For large organisations interested in tailor-made courses, please <a href="">get in touch</a>.</p>
          </div>

          <div class="question">
            When are your upcoming courses?
          </div>
          <div class="answer">
            <p>While we're still building our event calendar, our upcoming courses will be announced via our OpenUp social media accounts (<a href="http://twitter.com/openupsa">Twitter</a>, <a href="https://www.facebook.com/OpenUpSA/">Facebook</a>), on our TrainUp page as well as via email. If you would like to be notified via email, let us know by sending and email to <a href="mailto:training@openup.org.za">training@openup.org.za</a> and we'll add you to our Open Intake mailing list.</p>
            <p>We're currently planning an open intake for the first quarter of 2018. Information about this will be made available this December.</p>
          </div>

          <div class="question">
            Where will courses be taught?
          </div>
          <div class="answer">
            <p>The location depends on the participants. They can be taught internally for large groups from one organisation. Other courses will run as an open intake at a suitable location that makes sense for us and the participants.</p>
          </div>

          <div class="question">
            How long are your courses?
          </div>
          <div class="answer">
            <p>Our courses run for between one and two days, depending on the required modules. If you want a course specifically tailored to your needs <a href="mailto:training@openup.org.za">get in touch with us</a>.</p>
          </div>

          <div class="question">
            Are there any general course requirements?
          </div>
          <div class="answer">
            <p>Participants need access to their own laptop, an activated Google account, and access to the Google Chrome browser. More specific requirements can be found on the <a href="#clean">individual course pages</a>.</p>
          </div>

          <div class="question">
            Does OpenUp subsidise training and/or travel?
          </div>
          <div class="answer">
            <p>A 10% discount is available for NPOs on all courses. Travel subsidies are unfortunately not available.</p>
          </div>

          <div class="question">
            Are your courses only around data?
          </div>
          <div class="answer">
            <p>Yes. More specifically, our courses are shaped around data processing <i>for storytelling</i>, which we believe to be the most effective way at conveying data-rich information.</p>
          </div>

        </div>

        <div class="col-md-6">

          <div class="question">
            How many people can attend a single course?
          </div>
          <div class="answer">
            <p>Our courses run for a minimum of 8 and a maximum of 15 learners. We have a minimum to be cost effective and a maximum to ensure we can dedicate enough time and attention to each participant.</p>
          </div>

          <div class="question">
            What is the cost of internal organisational training per course?
          </div>
          <div class="answer">
            <p>We compile modules for internal organisational based on a consultative process with organisations to ensure that we cover content suitable for the organisation's needs. We also provide the option to shape curriculum for internal training around an organisation's own data, to ensure the relevant skills transfer.</p>
          </div>

          <div class="question">
            Why isn’t your training free?
          </div>
          <div class="answer">
            <p>OpenUp’s Data Literacy Programme consists of two main endeavours:</p>
            <p>Firstly, through our <a href="http://codebridge.org.za">Codebridge</a> grant we fund free data literacy training for identified segments of the population i.e. youth, school children, or those who are unable to afford commercial training opportunities.</p>
            <p>We are publishing tutorials and content on basic data literacy knowledge and skills, as well as open software usage, for free. Additionally, our material is shared with the <a href="http://schoolofdata.org/">School of Data</a>, with whom we collaborate on curriculum development.</p>
            <p>Secondly, TrainUp courses are facilitated at commercial rates as a profit stream that contributes to the sustainability of our  organisation and in support of our other projects. Our TrainUp curriculum will equip learners with the skills our team has acquired through the practise and teaching of this material, as it relates to the Data Processing Pipeline.</p>
          </div>

          <div class="question">
            Why data literacy?
          </div>
          <div class="answer">
            <p>An understanding of data and its potential is needed to make effective use of it. Our Data Literacy Programme aims to create storytellers who know how to use data effectively and empower society so they understand this data in order to drive social change.</p>
          </div>

          <div class="question">
            Why storytelling?
          </div>
          <div class="answer">
            <p>Data by itself is dry, impersonal, and distant. Our experience with civil society organisations, governments, and news organisations has taught us the power of storytelling, and we believe it to be the best to impart information. Our courses are designed to help you find and create compelling stories from data so you can most effectively communicate with your stakeholders.</p>
          </div>

          <div class="question">
            Do you have more questions?
          </div>
          <div class="answer">
            <a class="btn" href="mailto:training@openup.org.za">training@openup.org.za</a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="taken container hidden">
    <h1>Courses taken by</h1>
    <div class=""></div>
  </section>

  <section class="contact">
    <div class="container">
      <h1 class="title">Get in touch</h1>
      <p><b>Interested in one of our courses?</b> Get in touch with us. Also let us know if you want to <b>request a course</b>. We can shape our curriculum around your internal datasets.</p>
      <a class="btn" href="mailto:training@openup.org.za">training@openup.org.za</a>
    </div>
  </section>
</div>