---
layout: base
---

<div class="visualisations-page">

	<section class="hero">
		<div class="container">
			<h1 class="text-center header">Data visualisations</h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p>We've created a lot of data visualisations over the years. Often to supplement stories, sometimes as a visually appealing starting point for discussions. Below you'll find some of our visualisations that may pique your interest or inspire you to create one yourself.</p>
					<p><strong>Some of these visualisations can be updated using more recent data.</strong> Check out the sources to get started!</p>
					<span class="page-sharing">
						<small>Share:</small>
						<span class="btn-group" role="group">
							<a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
							<a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
							<a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
							<a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope"></i></a>
						</span>
					</span>
				</div>
			</div>
		</div>
	</section>

	<section class="all-visualisations container">
		<div class="row visualisation-holder">
			{% assign orderedVisualisations = site.visualisations | sort: 'title' %}
			{% for visualisation in orderedVisualisations %}
			<div class="col-xs-12 col-md-6 visualiation-box">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<a
							class="viz-featured-image"
							target="_blank"
							href="{{ visualisation.url | prepend: site.baseurl }}"
							style="background-image: url('{{ {{ site.baseurl }}/img/visualisation/{{ visualisation.image}}')"
						>
						</a>
					</div>
          <div class="col-xs-12 col-sm-6">
            <h3 class="visualisation-title">{{ visualisation.title }}</h3>
              {{ visualisation.summary }}
            <div class="links">
              <a target="_blank" class="btn" href="{{ visualisation.url | prepend: site.baseurl }}">Explore</a>
              {% if visualisation.source-url %}
                <a target="_blank" class="btn" href="{{ visualisation.source-url | prepend: site.baseurl }}">Source</a>
              {% endif %}
            </div>
          </div>
				</div>
			</div>
			{% endfor %}

		</div>
	</section>

</div>


<footer>

  <section class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-sm-3 col-xs-6 footer-item">
          <h3>Focus Areas</h3>
          <ul>

              <li><a href="/themes/activecitizenry.html">Active Citizenry</a></li>
            
              <li><a href="/themes/empowerment.html">Citizen Empowerment</a></li>
            
              <li><a href="/themes/tech.html">Civic Technology</a></li>
            
              <li><a href="/themes/cogovernance.html">Co-governance</a></li>
            
              <li><a href="/themes/liberation.html">Data Liberation</a></li>
            
              <li><a href="/themes/dataliteracy.html">Data Literacy</a></li>
            
          </ul>
        </div>

        <div class="col-sm-3 col-xs-6 footer-item">
          <h3>Site</h3>
          <ul>
            <li><a href="/about.html">About us</a></li>
            <li><a href="/attribution.html">Attribution</a></li>
            <li><a href="/careers.html">Careers</a></li>
            <li><a href="/contact.html">Contact us</a></li>
            <li><a href="/tools/dataportal.html">Data Portal</a></li>
            <li><a href="/visualisations">Data Visualisations</a></li>
            <li><a href="/trainup">Data Training</a></li>
            <li><a href="/terms.html">Terms of Use & Privacy Policy</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/trace">TRACE (Transparent Corporates)</a></li>
          </ul>
        </div>

        <div class="col-sm-3 col-xs-6 footer-item">
          <h3>NakedData</h3>
          <p>Our weekly newsletter, every Friday.<br>
          <a href="/nakeddata.html">Sign up now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></p>
          <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup_footer">
  <form action="//code4sa.us8.list-manage.com/subscribe/post?u=11977a67604b965526b63ee6e&amp;id=0852ce7e74" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">required</span>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group fname">
        <label for="mce-FNAME">First Name </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group lname">
        <label for="mce-LNAME">Last Name </label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response alert alert-danger" id="mce-error-response" style="display:none; padding: 20px"></div>
        <div class="response alert alert-success" id="mce-success-response" style="display:none; padding: 20px"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_11977a67604b965526b63ee6e_0852ce7e74" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->

        </div>

        <div class="col-sm-3 col-xs-6 footer-item">
          <h3>Follow us</h3>
          <p><a href="https://twitter.com/openupsa" target="_blank"><i class="fa fa-twitter fa-2x smicon" aria-hidden="true"></i></a><a href="https://www.facebook.com/openupsa" target="_blank"><i class="fa fa-facebook fa-2x smicon" aria-hidden="true"></i></a><a href="https://github.com/openupsa" target="_blank"><i class="fa fa-github-alt fa-2x smicon" aria-hidden="true"></i></a><a href="https://www.linkedin.com/company/code-for-south-africa" target="_blank"><i class="fa fa-linkedin-square fa-2x smicon" aria-hidden="true"></i></a></p>
        </div>

      </div>
    </div>
  </section>

  <section class="footer-copyright container">
    OpenUp is a non-profit organisation registered with the <a target="_blank" href="http://www.dsd.gov.za/npo/index.php?option=com_content&task=view&id=66&Itemid=114">South African Department of Social Development</a>, number 133-850NPO.<br>
    Licensed under a <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </section>

</footer>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      
        ga('send', 'pageview');
    </script>

    <script src="/js/news-ab-test.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/site.js"></script>

    

    <!-- Mailchimp JS, downloaded and edited from s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js because the original file downloads an old version of jQuery and creates conflicts -->
    <script src='/js/mc-validate.js'></script>

    <!-- Changed slightly because original breaks jQuery https://stackoverflow.com/questions/3540770/mailchimp-jquery-conflict -->
    <script>
      (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0]='EMAIL';
        ftypes[0]='email';
        fnames[1]='FNAME';
        ftypes[1]='text';
        fnames[2]='LNAME';
        ftypes[2]='text';
      }
      (jQuery));
      var $mcj = jQuery;
    </script>
  </body>
</html>
