---
layout: base
---
<div class="container">
	{% for theme in site.themes %}
		<div class="well">
			<a href="{{ site.baseurl }}{{ theme.url }}">{{ theme.title }}</a>
			<div>{{ theme.description }}</div>
			<ul>
			  {% for article in site.articles %}
		      {% for article-theme in article.themes %}
		        {% if article-theme.name == theme.name %}
		          <li><a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a></li>
			      {% endif %}
			    {% endfor %}
			  {% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>