---
layout: base
---
<div class="container">
	{% for type in site.article-types %}
		<div class="well">
			<a href="{{ site.baseurl }}{{ type.url }}">{{ type.title }}</a>
			<div>{{ type.description }}</div>
			<ul>
			  {% for article in site.articles %}
		      {% for article-type in article.types %}
		        {% if article-type.name == type.name %}
		          <li><a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a></li>
			      {% endif %}
			    {% endfor %}
			  {% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>