---
layout: base
title: Tools
featured-tool: opengazettes
---
<div class="container tools-page">
	<section class="page-intro">
		<h1>Tools</h1>
		<p>At <strong>Open Up</strong>, we believe that 'open' is more than just making data available. Data is meaningless unless you can understand it, which is why we build online tools to help contextualise data for government, civil society and human beings. We believe open is easy to understand, simple to navigate and functional.</p>
	</section>

	<section class="featured-tool">
		<div class="row">

			<div class="col-md-6">
				<div class="bubble">Featured</div>
				{% for tool in site.tools %}
					{% if tool.name == page.featured-tool %}
						<a href="{{ site.baseurl }}{{ tool.url }}"><img alt="{{ tool.image }}" src="{{ site.baseurl }}/img/tools/{{ tool.image }}"></a>
						<h2 class="tool-name">{{ tool.title }}</h2>
					{% endif %}
				{% endfor %}
			</div>

			<div class="col-md-6 featured-article">
				{% for article in site.articles %}
					{% for tool in article.tools %}
						{% if tool.name == page.featured-tool %}
							{% if article.featured == true %}
								{% capture number %}{% increment number %}{% endcapture %}
								{% if number < '3' %}
									<ul class="list-unstyled">
										<li class="tags">
										{% for article-type in site.article-types %}
										  {% for type in article.types %}
										    {% if article-type.name == type.name %}
										       <a class="badge type" href="{{ site.baseurl }}{{ article-type.url }}">{{ article-type.title }}</a>
										    {% endif %}
										  {% endfor %}
										{% endfor %}
										{% for article-theme in site.themes %}
										  {% for theme in article.themes %}
										    {% if article-theme.name == theme.name %}
										       <a class="badge theme" href="{{ site.baseurl }}{{ article-theme.url }}">{{ article-theme.title }}</a>
										    {% endif %}
										  {% endfor %}
										{% endfor %}
										</li>
										<li class="title"><a href="{{ site.baseurl }}{{ article.url }}" >{{ article.title }}</a></li>
										{% for member in site.team %}
										  {% if article.author == member.name %}
										  	<li class="author"><a href="{{ site.baseurl }}{{ member.url }}">{{ member.full-name }}</a></li>
										  {% endif %}
										{% endfor %}
										<li class="arrow"><a href="{{ site.baseurl }}{{ article.url }}">›</a></li>
									</ul>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}	
			</div>

		</div>
	</section>

	<section class="all-tools">
		<h2>Our tools</h2>
		<div class="row">
			{% for tool in site.tools %}
				{% unless tool.name == page.featured-tool %}
					<a href="{{ site.baseurl }}{{ tool.url }}" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 toolbox">
						<img alt="{{ tool.image }}" src="{{ site.baseurl }}/img/tools/{{ tool.image }}">
						<div class="tool-name">{{ tool.title }}</div>
					</a>
				{% endunless %}
			{% endfor %}
		</div>
	</section>

	<!--
	<h4 class="pull-right">
		What else have we done? View the rest of <strong>our tools</strong>
	</h4>
	-->

</div>