---
layout: base
---
<!-- CONTENT-->
<section class="team-member">
  <div class="container">
    <div>{{ page.name }}</div>
    <div>{{ page.description }}</div>
    <div>
      <ul>
        {% for article in site.articles %}
          {% for article-type in article.types %}
            {% if article-type.name == type.name %}
              <li><a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>