---
layout: base
---

<!-- TOP CONTENT -->
<section>
  <div class="container">
    <div class="topContent row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">

        <h1>{{ page.title }}</h1>
        <p class="post-excerpt">{{ page.excerpt }}</p>
        <span class="byline">
          <small><a href="../team/{{ page.author-short }}.html">{{ page.author }}</a> |</small>
        </span>
        <span class="byline date">
          <small>{{ page.date | date: "%-d %B %Y" }}</small>
        </span>

      </div>
    </div>
  </div>
</section>
<!-- TOP CONTENT -->

<!-- CONTENT-->
  <section>
    <div class="container">
      <div class="row">
        <!-- article -->
        <div class="col-md-8 col-md-offset-2 col-xs-12">

          <article class="post">
            {{content}}
          </article>
          
          <!-- social sharing -->
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <ul class="share-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/img/social-icon/Facebook.png"></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img alt="Tweet" src="/img/social-icon//Twitter.png"></a></li>
                <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/img/social-icon/Google+.png"></a></li>
                <li><a href="https://getpocket.com/save?url=&title=" target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="/img/social-icon/Pocket.png"></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/img/social-icon/LinkedIn.png"></a></li>
              </ul>
            </div>
          </div>
          <!-- social sharing -->

        </div>
        <!-- article -->
      </div>

    </div>  
  </section>
<!-- CONTENT -->

<script>
  $('.define').hover(
    function() {
      $(this).next('.sidenote').css("color", "#23527c");
    }, function() {
      $(this).next('.sidenote').css("color", "#555");
    }
  );
</script>