---
layout: base
---
<div class="container">
  <section class="theme">
    <div class="well">
      <div>{{ page.title }}</div>
      <div>{{ page.description }}</div>
      <ul>
        {% for article in site.articles %}
          {% for type in article.types %}
            {% if type.name == page.name %}
              <li><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>