<!DOCTYPE html>
<html lang="en">
    <head>
        {% for css in page.extra_stylesheets %}
          <link rel="stylesheet" href="{{ css }}"></script>
        {% endfor %}

        <style>
        {{ page.extra_style }}
        </style>

    </head>
    <body>
        {{ content }}
        {% for js in page.extra_scripts %}
          <script src="{{ js }}"></script>
        {% endfor %}

        {% if page.extra_js %}
            {{ page.extra_js }}
        {% endif %}

        </style>

    </body>
</html>

