---
layout: base
---

<!-- TOP CONTENT -->
  <section>
    <div class="container">
          <h1>{{page.title}}</h1>
          <h2>{{page.excerpt}}</h2>
          <h3>by {{page.author}}</h3>
    </div>
  </section>
<!-- TOP CONTENT -->


<!-- CONTENT-->
  <section>
    <div class="container">

          <div class="row">

          <!-- author -->
          <div class="col-md-3">

              <img width="50%" src="http://code4sa.org/images/team/team_greg.jpg" />
              <div class="author-card">
                  <p>{{page.author}}<br>{{page.authorpos}}, Open Up</p>
                  <p>{{page.authordetail}}</p>
              </div>

          </div>
          <!-- author -->

          <!-- article -->
          <div class="col-md-6">

              <article>
                {{content}}
              </article>

          </div>
          <!-- article -->
               
          <!-- annotations -->
          <div class="col-md-3">
              <p>Dummy text annotations</p>
          </div>
          <!-- annotations -->

          </div>

    </div>  
  </section>
<!-- CONTENT -->


<!-- BOTTOM CONTENT -->
<section>
  <div class="container">

        <!-- categories -->
        <p>MORE: 
              <a href="#">CASE STUDIES</a>,
              <a href="#">WHITE PAPERS</a>,
              <a href="#">DEVTALK</a>
        </p>
        <!-- categories -->

        <hr>

        <!-- related articles grid -->
        <div class="row">

            <ul><li>
            <div class="col-md-6">

            {% for post in site.posts %}
              <img width="76px" src="http://code4sa.org/images/team/team_greg.jpg" />
              <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
              <p><small>{{ post.excerpt }}</small></p>      
            {% endfor %}

            </div>
            </li></ul>

        </div>

        <!-- related articles grid -->

  </div>
</section>
<!-- BOTTOM CONTENT -->


