---
layout: base
---
<!-- CONTENT-->
<section class="team-member">
  <div class="container">
    <h1>{{ page.name }}</h1>
    <div>currently: {{ page.current }}</div>
    <div>{{ page.statement }}</div>
    <div>{{ page.email }}</div>
    <div class="worked-on">
      {% for tool in site.tools %}
        {% for creator in tool.creators %}
          {% if creator.name == page.name %}
            <div>{{ tool.name }}: {{ creator.role }}</div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>