---
layout: base
---
<!-- CONTENT-->
<section class="team-member">
  <div class="container">
    <h1>{{ page.name }}</h1>
    <p>currently: {{ page.current }}</p>
    <p>{{ page.statement }}</p>
    <p>{{ page.email }}</p>
    <div class="worked-on">
      {% for tool in site.tools %}
        {% for creator in tool.creators %}
          {% if creator.name == page.short-name %}
            <p>{{ tool.name }} | {{ creator.role }}</p>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>